<div class="carbon-content row">
    <div class="col-6">
        <div class="graph-div">
            <%= column_chart [
                ["Total Sequestration", @farm.sequestration],
                ["Scope 1", @farm.scope_one],
                ["Scope 2", @farm.scope_two],
                ["Scope 3", @farm.scope_three],
                ["Net Emissions", @farm.net_emissions]],
                ytitle: "Carbon Emission (kg)",
                title: "Emissions" %>
        </div>
        <br>
        <div class="graph-div">
            <%= pie_chart scope_three_hash, title: "Scope Three Emissions"%>
        </div>
    </div>
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Above Ground Carbon
                <span class="badge badge-dark"><%= @farm.above_ground_carbon %> kg</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Annual Sequestration
                <span class="badge badge-dark"><%= @farm.sequestration %> kg</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Scope One
                <span class="badge badge-dark"><%= @farm.scope_one %> kg</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Scope Two
                <span class="badge badge-dark"><%= @farm.scope_two %> kg</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Scope Three
                <span class="badge badge-dark"><%= @farm.scope_three %> kg</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Net Carbon Emissions
                <span class="badge badge-dark"><%= @farm.net_emissions %> kg</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Potential Revenue From Offset
                <span class="badge badge-dark">£<%= offset_revenue %></span>
            </li>
        </ul>
        <br>
        <div class="graph-div">
            <div class="intervention-title-div row justify-content-between">
                <h3>Interventions</h3>
                <%= link_to "Reset Interventions", farm_path(@farm, anchor: "carbon"), class: "btn btn-primary" %>
            </div>
            <div class="row">
                <div class="col-6">
                    <%= link_to 'Green Energy Tariff',
                        farm_path(@farm,
                        green_electricity_tariff: true,
                        reduce_diesel_use: request.query_parameters[:reduce_diesel_use],
                        reduce_fertiliser_use: request.query_parameters[:reduce_fertiliser_use],
                        go_organic: request.query_parameters[:go_organic],
                        anchor: 'carbon'),
                        class: 'btn btn-success intervention-btn' %>
                    <br>
                    <%= link_to 'Decrease Diesel Use (20%)',
                        farm_path(@farm,
                        green_electricity_tariff: request.query_parameters[:green_electricity_tariff],
                        reduce_diesel_use: (request.query_parameters[:reduce_diesel_use] ? request.query_parameters[:reduce_diesel_use].to_f - 0.2 : 0.8 ),
                        reduce_fertiliser_use: request.query_parameters[:reduce_fertiliser_use],
                        go_organic: request.query_parameters[:go_organic],
                        anchor: 'carbon'),
                        class: 'btn btn-success intervention-btn' %>
                    <br>
                    <%= link_to 'Decrease Fertiliser Use (20%)',
                        farm_path(@farm,
                        green_electricity_tariff: request.query_parameters[:green_electricity_tariff],
                        reduce_diesel_use: request.query_parameters[:reduce_diesel_use],
                        reduce_fertiliser_use: (request.query_parameters[:reduce_fertiliser_use] ? request.query_parameters[:reduce_fertiliser_use].to_f - 0.2 : 0.8 ),
                        go_organic: request.query_parameters[:go_organic],
                        anchor: 'carbon'),
                        class: 'btn btn-success intervention-btn' %>
                    <br>
                    <%= link_to 'Go Organic',
                        farm_path(@farm,
                        green_electricity_tariff: request.query_parameters[:green_electricity_tariff],
                        reduce_diesel_use: request.query_parameters[:reduce_diesel_use],
                        reduce_fertiliser_use: request.query_parameters[:reduce_fertiliser_use],
                        go_organic: true,
                        anchor: 'carbon'),
                        class: 'btn btn-success intervention-btn' %>
                    <br>
                </div>
                <div class="col-6">
                    <%= link_to 'No Green Energy Tariff',
                        farm_path(@farm,
                        green_electricity_tariff: false,
                        reduce_diesel_use: request.query_parameters[:reduce_diesel_use],
                        reduce_fertiliser_use: request.query_parameters[:reduce_fertiliser_use],
                        go_organic: request.query_parameters[:go_organic],
                        anchor: 'carbon'),
                        class: 'btn btn-danger intervention-btn' %>
                    <br>
                    <%= link_to 'Increase Diesel Use (20%)',
                        farm_path(@farm,
                        green_electricity_tariff: request.query_parameters[:green_electricity_tariff],
                        reduce_diesel_use: (request.query_parameters[:reduce_diesel_use] ? request.query_parameters[:reduce_diesel_use].to_f + 0.2 : 1.2 ),
                        reduce_fertiliser_use: request.query_parameters[:reduce_fertiliser_use],
                        go_organic: request.query_parameters[:go_organic],
                        anchor: 'carbon'),
                        class: 'btn btn-danger intervention-btn' %>
                    <br>
                    <%= link_to 'Decrease Fertiliser Use (20%)',
                        farm_path(@farm,
                        green_electricity_tariff: request.query_parameters[:green_electricity_tariff],
                        reduce_diesel_use: request.query_parameters[:reduce_diesel_use],
                        reduce_fertiliser_use: (request.query_parameters[:reduce_fertiliser_use] ? request.query_parameters[:reduce_fertiliser_use].to_f + 0.2 : 1.2 ),
                        go_organic: request.query_parameters[:go_organic],
                        anchor: 'carbon'),
                        class: 'btn btn-danger intervention-btn' %>
                    <br>
                    <%= link_to 'Non-Organic',
                        farm_path(@farm,
                        green_electricity_tariff: request.query_parameters[:green_electricity_tariff],
                        reduce_diesel_use: request.query_parameters[:reduce_diesel_use],
                        reduce_fertiliser_use: request.query_parameters[:reduce_fertiliser_use],
                        go_organic: false,
                        anchor: 'carbon'),
                        class: 'btn btn-danger intervention-btn' %>
                    <br>
                </div>
            </div>
            <div class="row  land-select-lable-row">
                <div class="col-6 land-select-lable-div">
                    <h6>Swap From</h6>
                </div>
                <div class="col-6 land-select-lable-div">
                    <h6>Swap To</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <%= form_with url: farm_path(@farm, anchor: 'carbon'), method: :get, local: true do |form| %>
                    <%= form.collection_select :from_land_id, @farm.lands, :id, :land_type, {}, {class: "land-select-1"} %>
                    <%= form.collection_select :to_land_id, @farm.lands, :id, :land_type, {}, {class: "land-select-2"} %>
                    <%= form.hidden_field :green_electricity_tariff, value: request.query_parameters[:green_electricity_tariff] %>
                    <%= form.hidden_field :reduce_diesel_use, value: request.query_parameters[:reduce_diesel_use] %>
                    <%= form.hidden_field :reduce_fertiliser_use, value: request.query_parameters[:reduce_fertiliser_use] %>
                    <%= form.hidden_field :go_organic, value: request.query_parameters[:go_organic] %>
                    <% @farm.lands.each do |land| %>
                        <%= form.hidden_field land.id, value: request.query_parameters[land.id.to_s] %>
                    <% end %>
                    <%= form.submit "Swap", class: "btn btn-primary swap-land-btn"%>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


