<div class="col-8">

    <table class="table">

        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Target</th>
                <th>Result</th>
                <th class="centred-data">Achieved</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>Net Emissions</th>
                <td><%= @farm.target.net_carbon_emission %> kg</td>
                <td><%= @farm.net_emissions %> kg</td>
                <td class="centred-data">
                    <%= target_achieved(-1*@farm.target.net_carbon_emission, -1*@farm.net_emissions) %>
                </td>
            </tr>
            <tr>
                <th>Defra Habitat Score</th>
                <td><%= @farm.target.defra_habitat_score %>%</td>
                <td><%= @farm.defra_habitat_score %>%</td>
                <td class="centred-data">
                <%= target_achieved(@farm.target.defra_habitat_score, @farm.defra_habitat_score) %>
                </td>
            </tr>
            <tr>
                <th>Space For Nature Score</th>
                <td><%= @farm.target.space_for_nature_score %>%</td>
                <td><%= @farm.space_for_nature_score %>%</td>
                <td class="centred-data">
                <%= target_achieved(@farm.target.space_for_nature_score, @farm.space_for_nature_score) %>
                </td>
            </tr>
            <tr>
                <th>Countryside Stewardship Score</th>
                <td>50%</td>
                <td>75%</td>
                <td class="centred-data">
                    <i class="fas fa-check-circle fa-lg success"></i>
                </td>
            </tr>
            <tr>
                <th>Biodiversity Score</th>
                <td>75%</td>
                <td>60%</td>
                <td class="centred-data">
                    <i class="fas fa-times-circle target-card-icon fa-lg fail">
                </td>
            </tr>
            <tr>
                <th>Field-Based Soil Health Score</th>
                <td>60%</td>
                <td>75%</td>
                <td class="centred-data">
                    <i class="fas fa-check-circle fa-lg success"></i>
                </td>
            </tr>
            <tr>
                <th>Lab-Based Soil Health Score</th>
                <td>50%</td>
                <td>70%</td>
                <td class="centred-data">
                    <i class="fas fa-check-circle fa-lg success"></i>
                </td>
            </tr>
            <tr>
                <th>Mean SOC</th>
                <td>20%</td>
                <td>25%</td>
                <td class="centred-data">
                    <i class="fas fa-check-circle fa-lg success"></i>
                </td>
            </tr>
        </tbody>

    </table>

</div>

<div class="col-4">

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Standard Compliance
            <span class="badge badge-dark badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Compliance with ROC
            <span class="badge badge-dark badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Stewardship Scheme Interventions
            <span class="badge badge-dark badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Stewardship Scheme Presumed Payments
            <span class="badge badge-dark badge-pill">14</span>
        </li>
    </ul>
</div>