<div class="sidebar">
    <%= render 'shared/farms/sidebar', page: "performance" %>
</div>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/performance/navbar', section: "Carbon" %>
            </div>
        </div>
        <div class="row mb-4 px-3">
            <div class="col-4">
                <div class="card shadow border-primary value-card mb-4" >
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold value-card-label text-primary text-uppercase mb-1">Net Emissions</div>
                                <div class="h5 mb-0 font-weight-bold value-card-value"><%= @farm.net_emissions %> kg</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-industry fa-2x value-card-value"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow border-warning value-card mb-4" >
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold value-card-label text-warning text-uppercase mb-1">Potential Offset Revenue</div>
                                <div class="h5 mb-0 font-weight-bold value-card-value">£ <%= 0 %></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x value-card-value"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4" >
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="py-2 px-5 carbon-contributions-header-div justify-content-center d-flex mb-2">
                                <b>Contributions</b>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <tr>
                                <td class="carbon-contributions-first-row">Scope One</th>
                                <td class="carbon-contributions-first-row text-align-center"><%= @farm.scope_one %> kg</td>
                            </tr>
                            <tr>
                                <td>Scope Two</th>
                                <td class="text-align-center"><%= @farm.scope_two %> kg</td>
                            </tr>
                            <tr>
                                <td>Scope Three</th>
                                <td class="text-align-center"><%= @farm.scope_three %> kg</td>
                            </tr>
                            <tr>
                                <td>Annual Sequestration</th>
                                <td class="text-align-center"><%= @farm.annual_sequestration %> kg</td>
                            </tr>
                            <tr>
                                <td>Farmland Sequestration</th>
                                <td class="text-align-center"><%= @farm.farmland_sequestration %> kg</td>
                            </tr>
                            <tr>
                                <td>Above Ground Carbon</th>
                                <td class="text-align-center"><%= @farm.above_ground_carbon %> kg</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card shadow">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <% if params[:scope_three] %>
                            <li class="nav-item">
                            <%= link_to "Carbon Balance",
                                farm_carbon_path(@farm),
                                class: "nav-link carbon-chart-card-link nunito-font" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Scope Three",
                                    farm_carbon_path(@farm, scope_three: true),
                                    class: "nav-link carbon-chart-card-link active nunito-font" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Sequestration Contributions",
                                    farm_carbon_path(@farm, sequestration_contributions: true),
                                    class: "nav-link carbon-chart-card-link nunito-font" %>
                            </li>
                            <% elsif params[:sequestration_contributions] %>
                            <li class="nav-item">
                            <%= link_to "Carbon Balance",
                                farm_carbon_path(@farm),
                                class: "nav-link carbon-chart-card-link nunito-font" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Scope Three",
                                    farm_carbon_path(@farm, scope_three: true),
                                    class: "nav-link carbon-chart-card-link nunito-font" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Sequestration Contributions",
                                    farm_carbon_path(@farm, sequestration_contributions: true),
                                    class: "nav-link carbon-chart-card-link active nunito-font" %>
                            </li>
                            <% else %>
                            <li class="nav-item">
                                <%= link_to "Carbon Balance",
                                    farm_carbon_path(@farm),
                                    class: "nav-link carbon-chart-card-link active nunito-font" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Scope Three",
                                    farm_carbon_path(@farm, scope_three: true),
                                    class: "nav-link carbon-chart-card-link nunito-font" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Sequestration Contributions",
                                    farm_carbon_path(@farm, sequestration_contributions: true),
                                    class: "nav-link carbon-chart-card-link nunito-font" %>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                    <% if params[:scope_three] %>
                    <div class="card-body carbon-chart-card-body pt-3">
                        <%= pie_chart scope_three_hash %>
                        <hr class="my-4">
                        <p class="nunito-font px-2">
                            The various components of your scope three emissions. Values shown are in kg CO<sub>2</sub>.
                            Please hover over slices to get exact values.
                        </p>
                    </div>
                    <% elsif params[:sequestration_contributions] %>
                    <div class="card-body carbon-chart-card-body pt-3">
                        <%= pie_chart @farm.sequestration_by_meta_category %>
                        <hr class="my-4">
                        <p class="nunito-font px-2">
                            The contributions to your total carbon sequestration made by your different types of land.
                            Values shown are in kg CO<sub>2</sub>.
                            Please hover over slices to get exact values.
                        </p>
                    </div>
                    <% else %>
                    <div class="card-body carbon-chart-card-body pt-5">
                        <%= column_chart [
                            {
                                name: "Farmland Sequestration",
                                data: [["Sequestration", @farm.farmland_sequestration]]
                            },
                            {
                                name: "Annual Sequestration",
                                data: [["Sequestration", @farm.annual_sequestration]]
                            },
                            {
                                name: "Scope One",
                                data: [["Emissions", @farm.scope_one]]
                            },
                            {
                                name: "Scope Two",
                                data: [["Emissions", @farm.scope_two]]
                            },
                            {
                                name: "Scope Three",
                                data: [["Emissions", @farm.scope_three]]
                            },
                            {
                                name: "Net",
                                data: [["Balance", @farm.net_emissions ]]
                            }],
                            stacked: true,
                            legend: false %>
                        <hr class="my-4">
                        <p class="nunito-font px-2">
                            An overview of the contributions to your net carbon emissions. Values shown are in kg CO<sub>2</sub>.
                            Please hover over the bars to get exact values.
                        </p>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


