<%= render 'shared/farms/sidebar' %>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "Upload and Edit Farm Information" %>
            </div>
        </div>
        <div class="row mb-2 px-3">
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body data-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Farm
                                <i class="fas fa-tractor ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to farm_edit_details_path(@farm), class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Details
                                </div>
                            <% end %>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to farm_edit_livestock_path(@farm), class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Livestock
                                </div>
                            <% end %>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to edit_farm_target_path(@farm), class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Targets
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body data-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Energy
                                <i class="fas fa-bolt ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to farm_edit_energy_usage_path(@farm),
                                class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Energy Usage
                                </div>
                            <% end %>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to farm_edit_resources_path(@farm), class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Resource Use
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body data-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Nature
                                <i class="fas fa-leaf ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to edit_farm_biodiversity_survey_path(@farm),
                                class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Biodiversity Survey
                                </div>
                            <% end %>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to farm_lands_path(@farm), class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Lands
                                </div>
                            <% end %>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to farm_hedgerows_path(@farm), class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Hedgerows
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4 px-3">
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body data-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Soil
                                <i class="fas fa-tree ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to edit_farm_lab_based_soil_test_path(@farm),
                                class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Lab-Based Soil Test
                                </div>
                            <% end %>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to edit_farm_in_field_soil_test_path(@farm),
                                class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    In-Field Soil Test
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body data-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Sustainability
                                <i class="fas fa-sun ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to edit_farm_schemes_survey_path(@farm), class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Schemes Survey
                                </div>
                            <% end %>
                        </div>
                        <div class="row justify-content-center">
                            <%= link_to edit_farm_sustainability_survey_path(@farm), class: "edit-link" do %>
                                <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                    Sustainable Practices
                                </div>
                            <% end %>
                        </div>
                        <div class="row justify-content-center">
                        <%= link_to edit_farm_countryside_stewardship_survey_path(@farm), class: "edit-link" do %>
                            <div class="py-2 px-4 snapshot-value-div mb-2 edit-link-div">
                                CSS Details
                            </div>
                        <% end %>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

