<%= render 'shared/farms/sidebar' %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "Edit Energy Use"  %>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mb-5">
                <%= render 'shared/farms/edit/navbar', section: "Energy" %>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center px-4">
                        <%= link_to "Energy Usage",
                            farm_edit_energy_usage_path(@farm),
                            class: "edit-sub-link-active" %>
                        <%= link_to "Resources",
                            farm_edit_resources_path(@farm),
                            class: "edit-sub-link mx-5" %>
                    </div>
                </div>
                <%= bootstrap_form_with model: @farm,
                    url: farm_path(@farm),
                    method: :put, class: "w-100 h-100" do |f| %>
                    <div class="shadow farm-edit-form-card pt-4 pb-3 px-4 d-flex
                        flex-column justify-content-between mt-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8 mt-3">
                                    <%= f.text_field :total_diesel_use, step: :any, label: "Diesel Use (l)" %>
                                    <%= f.number_field :total_gas_use, step: :any, label: "Gas Use (kWh)" %>
                                    <%= f.number_field :total_electricity_use,
                                        step: :any, label: "Electricity Use (kWh)" %>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-5">
                            <%= link_to edit_farm_path(@farm) do %>
                                <i class="fas fa-times fa-2x farm-creation-arrow"></i>
                            <% end %>
                            <button type="submit" class="btn farm-creation-arrow-button">
                                <i class="fas fa-save fa-2x farm-creation-arrow"></i>
                            </button>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
