<div class="farm-form-div">

    <%= bootstrap_form_with(model: @farm, local: true) do |f| %>
    <%= f.text_field :name, label: "Name" %>
    <%= f.text_field :location,  label: "Location" %>
    <%= f.text_field :latitude,  label: "Latitude" %>
    <%= f.text_field :longitude, label: "Longitude" %>
    <%= f.number_field :farm_area, label: "Total Area of Farm (ha)" %>
    <%= f.number_field :pasture_area, label: "Area Under Pasture (ha)"%>
    <%= f.number_field :crop_area, label: "Area Under Crops (ha)" %>
    <%= f.number_field :hedgerow_area, label: "Hedgerow Area (ha)" %>
    <%= f.number_field :woodland_area, label: "Woodland Area (ha)" %>
    <%= f.number_field :set_aside_1yr_area, label: "Area Set Aside - less than 1 year (ha)" %>
    <%= f.number_field :set_aside_1yr_to_5yr_area, label: "Area Set Aside - between 1 and 5 years (ha)" %>
    <%= f.number_field :set_aside_5yr_area, label: "Area Set Aside - more than 5 years (ha)"%>
    <%= f.number_field :diesel_use, label: "Total Diesel Use (kWh/yr)" %>
    <%= f.number_field :gas_use, label: "Total Gas Use (kWh/yr)" %>
    <%= f.number_field :electricity_use, label: "Total Electricity Use (kWh/yr)" %>
    <%= f.number_field :sheep, label: "Number of Sheep" %>
    <%= f.number_field :cows, label: "Number of Cows" %>
    <%= f.number_field :tillage_area, label: "Area of Cropland Under Tillage Regimes (ha)" %>
    <%= f.number_field :sprayage_area, label: "Area of Cropland Under Spraying Regimes (ha)" %>
    <%= f.number_field :annual_applied_artificial_fertiliser, label: "Artificial Fertiliser Applied Annually (kg/year)" %>
    <%= f.number_field :annual_applied_pesticide, label: "Pesticide Applied Annually (kg/year)" %>
    <%= f.number_field :annual_applied_herbicide, label: "Herbicide Applied Annually (kg/year)" %>
    <%= f.number_field :annual_applied_fungicide, label: "Fungicide Applied Annually (kg/year)" %>
    <%= f.check_box :organic, label: "Organic" %>
    <%= f.number_field :machinery_spend, label: "Spend on Machinery (£/year)" %>
    <%= f.number_field :labour_spend, label: "Spend on Labour (£/year)" %>
    <%= f.number_field :feed_spend, label: "Spend on Feed (£/year)" %>
    <%= f.number_field :non_fuel_spend, label: "Further Non-Fuel Spend (£/year)" %>
    <%= f.submit "Create", class: "btn btn-default btn-primary" %>
    <% end %>

    <div style="height: 100px;"></div>
</div>