<div class="farm-content">
    <div class="row">
        <div class="col-6">

            <div class="jumbotron">
                <h1 class="display-4"><%= @farm.name %></h1>
                <hr class="my-4">
            </div>

            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= @farm.location %></li>
                    <li class="list-group-item"><%= @farm.latitude %>° N, <%= @farm.longitude %>° W</li>
                </ul>
            </div>

            <br>
            <br>

            <div class="farm-carbon-div">
                <h3 class="text-center">Emissions</h3>
                <%= column_chart [
                    ["Scope 1", @farm.scope_one],
                    ["Scope 2", @farm.scope_two],
                    ["Scope 3", @farm.scope_one],
                ] %>
            </div>

        </div>
        <div class="col-6">

            <div class="farm-carbon-div">
                <h3 class="text-center">Scope 3 Emissions</h3>
                <%= pie_chart [
                    ["Artificial Fertiliser", @farm.artificial_fertiliser_use*3.6],
                    ["Agriculture Products", @farm.agriculture_products_spend*2.144],
                    ["Wood and Wood Products", @farm.wood_and_wood_products_spend*0.64],
                    ["Pesticides", @farm.pesticides_spend*0.776],
                    ["Machinery and Equipment", @farm.machinery_and_equipment_spend*0.56],
                    ["Enteric Emissions", @farm.number_of_sheep*1003.75 + @farm.number_of_cows*4015],
                ] %>
            </div>

            <br>

            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= @farm.target.net_carbon_emission %></li>
                    <li class="list-group-item"><%= @farm.target.defra_habitat_score %></li>
                </ul>
            </div>

        </div>
    </div>
</div>


