<%= render 'shared/farms/sidebar', page: "snapshot" %>
<div class="page-content">
    <div class="container-fluid moss-background pb-5">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "Snapshot Overview" %>
            </div>
        </div>
        <div class="row px-3 mb-4">
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-4">
                            <h4 class="header">
                                Summary
                                <i class="fas fa-clipboard ml-1"></i>
                            </h4>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Farm Type
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center dark-grey my-auto">
                                <%= @farm.farm_type %>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Area
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold pink my-auto">
                                    <%= @farm.total_area %>
                                </h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Livestock
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold pink my-auto">
                                    <%= @farm.number_of_cows + @farm.number_of_sheep %>
                                </h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Habitats
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold pink my-auto">
                                    <%= @farm.lands.size %>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <h4 class="header">
                                Targets
                                <i class="fas fa-bullseye ml-1"></i>
                            </h4>
                        </div>
                        <div class="row mb-1">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between">
                                <h5 class="dark-grey my-auto font-weight-bold">
                                    Mean SOC
                                </h5>
                                <div class="dark-grey my-auto font-weight-bold">
                                    <%= mean_soc_progress * 100 %> %
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-center">
                                <div id="meanSOCBar" progress="<%= mean_soc_progress %>"
                                    class="w-100 progress-line"></div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between">
                                <h5 class="dark-grey my-auto font-weight-bold">
                                    Soil Health
                                </h5>
                                <div class="dark-grey my-auto font-weight-bold">
                                    <%= soil_health_progress * 100 %> %
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-center">
                                <div id="soilHealthBar" progress="<%= soil_health_progress %>"
                                    class="w-100 progress-line"></div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between">
                                <h5 class="dark-grey my-auto font-weight-bold">
                                    Ecological Focus Area
                                </h5>
                                <div class="dark-grey my-auto font-weight-bold">
                                    <%= ecological_focus_areas_progress * 100 %> %
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-center">
                                <div id="ecologicalFocusAreaBar" progress="<%= ecological_focus_areas_progress %>"
                                    class="w-100 progress-line"></div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between">
                                <h5 class="dark-grey my-auto font-weight-bold">
                                    Sustainable Practices
                                </h5>
                                <div class="dark-grey my-auto font-weight-bold">
                                    <%= sustainable_practices_progress * 100 %> %
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-center">
                                <div id="sustainablePracticesBar" progress="<%= sustainable_practices_progress %>"
                                    class="w-100 progress-line"></div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex">
                                <h5 class="dark-grey font-weight-bold">
                                    Net Carbon
                                </h5>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-center">
                                <%= net_carbon_result %>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <h4 class="header">
                                Net Carbon
                                <i class="fas fa-industry ml-1"></i>
                            </h4>
                        </div>
                        <div class="row justify-content-center mb-4">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Balance
                                </h5>
                                <h3 class="font-weight-bold light-blue my-auto">
                                    <%= @farm.net_emissions %> kg
                                </h3>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 px-3">
                                <%= chartjs_bar_chart emission_chart_data, emission_chart_options %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4 px-3">
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <h4 class="header">
                                Soil
                                <i class="fas fa-tree ml-1"></i>
                            </h4>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Soil Health
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold pink my-auto">
                                    <%= @farm.in_field_soil_test.soil_health_score.round(0) %> %
                                </h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Mean SOC
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold pink my-auto">
                                    <%= @farm.lab_based_soil_test.mean_of(:SOC).round(2) %> %
                                </h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Soil Carbon
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold pink my-auto">
                                    <%= @farm.lab_based_soil_test.total_soil_carbon.round(0) %> kg
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <h4 class="header">
                                Habitats
                                <i class="fas fa-bug ml-1"></i>
                            </h4>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Biodiversity
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold green my-auto">
                                    <%= @farm.in_field_soil_test.soil_health_score.round(0) %> %
                                </h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Units/ha
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold green my-auto">
                                    <%= @farm.biodiversity_units_per_hectare_percentage %> %
                                </h3>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 px-5">
                                <%= chartjs_pie_chart habitat_chart_data, habitat_chart_options %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <h4 class="header">
                                Nature
                                <i class="fas fa-leaf ml-1"></i>
                            </h4>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="font-weight-bold dark-greuy">
                                            Tree Coverage
                                        </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center mt-4">
                                        <h1 class="font-weight-bold green">
                                            <%= @farm.tree_coverage_percentage %> %
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <%= chartjs_doughnut_chart tree_coverage_chart_data,
                                    tree_coverage_chart_options %>
                            </div>
                        </div>
                        <div class="row mt-4 mb-1">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="font-weight-bold dark-greuy">
                                            Ecological Focus Area
                                        </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center mt-4">
                                        <h1 class="font-weight-bold yellow">
                                            <%= @farm.ecological_focus_area_percentage %> %
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <%= chartjs_doughnut_chart ecological_focus_area_chart_data,
                                    ecological_focus_area_chart_options %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4 px-3">
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <h4 class="header">
                                Sustainability
                                <i class="fas fa-sun ml-1"></i>
                            </h4>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Practices
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold green my-auto">
                                    <%= @farm.sustainability_survey.sustainable_practice_score %> %
                                </h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Schemes
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold green my-auto">
                                    <%= @farm.schemes_survey.participations %>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-4">
                            <h4 class="header">
                                Species
                                <i class="fas fa-paw ml-1"></i>
                            </h4>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between align-items-center">
                                <b>Vascular plants</b>
                                <%= species_change_name(@farm.biodiversity_survey.number_of_vascular_plant_species, 8) %>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between align-items-center">
                                <b>Bees</b>
                                <%= species_change_name(@farm.biodiversity_survey.number_of_wild_bee_species, 5) %>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between align-items-center">
                                <b>Birds</b>
                                <%= species_change_name(@farm.biodiversity_survey.number_of_farmland_bird_species, 5) %>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between align-items-center">
                                <b>Butterflies</b>
                                <%= species_change_name(@farm.biodiversity_survey.number_of_butterfly_species, 5) %>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-between align-items-center">
                                <b>Bats</b>
                                <%= species_change_name(@farm.biodiversity_survey.number_of_mammal_species, 5) %>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <h4 class="header">
                                Energy
                                <i class="fas fa-bolt ml-1"></i>
                            </h4>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Usage
                                </h5>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <h3 class="font-weight-bold red my-auto">
                                    <%=  @farm.total_energy_usage %> kWh
                                </h3>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 px-5">
                                <%= chartjs_pie_chart energy_chart_data, energy_chart_options %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-3">
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-4">
                            <h5 class="header">
                                Payments
                                <i class="fas fa-dollar-sign ml-1"></i>
                            </h5>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-5 d-flex">
                                <h5 class="dark-grey font-weight-bold my-auto">
                                    Offset Revenue
                                </h5>
                            </div>
                            <div class="col-6"></div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-1"></div>
                            <div class="col-10 d-flex justify-content-center">
                                <h3 class="font-weight-bold yellow my-auto">
                                    £ <%= number_with_precision(@farm.offset_revenue, precision: 2, delimiter: ',') %>
                                </h3>
                            </div>
                            <div class="col-1"></div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card snapshot-card">
                    <div class="card-body">
                        <div class="row justify-content-center mb-4">
                            <h5 class="header">
                                Mapping
                                <i class="far fa-compass ml-1"></i>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_pack_tag 'progressBars' %>
