<% if @creation %>
<%= render 'shared/farm_creation/sidebar' %>
<% else %>
<%= render 'shared/farms/sidebar' %>
<% end %>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <% if @creation %>
                <%= render 'shared/farm_creation/navbar' %>
                <% else %>
                <%= render 'shared/farms/navbar', section: "Edit Lands" %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card shadow form-card">
                    <% if @creation %>
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold card-header-text">Lands</h6>
                        <h6 class="m-0 font-weight-bold card-header-text">5 / 13</h6>
                    </div>
                    <% end %>
                    <div class="card-body form-card-body d-flex flex-column justify-content-between">
                        <div class="overflow-auto">
                            <div class="row">
                                <div class="col-12">
                                    <% if @farm.lands.size > 0 %>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Land ID</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Area (ha)</th>
                                                <th scope="col">Sprayed</th>
                                                <th scope="col">Tillage Score</th>
                                                <th scope="col">Rotation Score</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @farm.lands.each do |land| %>
                                            <tr>
                                                <td><%= land.id %></td>
                                                <td><%= land.land_type.category %></td>
                                                <td><%= land.area %></td>
                                                <td><%= land.sprayed %></td>
                                                <td><%= land.tillage_score %></td>
                                                <td><%= land.rotation_score %></td>
                                                <td>
                                                    <%= link_to farm_land_path(@farm, land, creation: @creation),
                                                        method: :delete do %>
                                                        <button type="button" class="btn btn-danger">Delete</button>
                                                    <% end %>
                                                </td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                    <% else %>
                                    <div class="alert alert-primary" role="alert">
                                        You have no lands.
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    <%= link_to new_farm_land_path(@farm, creation: @creation) do %>
                                        <button type="button" class="btn btn-success">Add New Land</button>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <% if @creation %>
                                    <div>
                                        <%= link_to "Back",
                                            farm_creation_path(:livestock, farm_id: @farm.id),
                                            class: "btn btn-default btn-danger" %>
                                    </div>
                                    <div>
                                        <%= link_to "Next",
                                            farm_creation_path(:hedgerows, farm_id: @farm.id),
                                            class: "btn btn-default btn-primary" %>
                                    </div>
                                    <% else %>
                                    <div>
                                        <%= link_to "Back",
                                            edit_farm_path(@farm),
                                            class: "btn btn-default btn-danger" %>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
