<%= render 'shared/farms/sidebar', page: "data" %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "Edit Lands" %>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <%= render 'shared/farms/edit/navbar', section: "Nature" %>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center px-4">
                        <%= link_to "Biodiversity",
                            edit_farm_biodiversity_survey_path(@farm),
                            class: "edit-sub-link" %>
                        <%= link_to "Lands",
                            farm_lands_path(@farm),
                            class: "edit-sub-link active mx-5" %>
                        <%= link_to "Hedgerows",
                            farm_hedgerows_path(@farm),
                            class: "edit-sub-link" %>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="shadow farm-edit-form-card pt-4 pb-3 px-4 mt-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <% if @farm.lands.size > 0 %>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="align-text-center">ID</th>
                                            <th class="align-text-center">Code</th>
                                            <th class="align-text-center">Habitat</th>
                                            <th class="align-text-center">Area (ha)</th>
                                            <th class="align-text-center">Sprayed</th>
                                            <th class="align-text-center">Tillage</th>
                                            <th class="align-text-center">Rotation</th>
                                            <th class="align-text-center">Condition</th>
                                            <th class="align-text-center">Connectivity</th>
                                            <th class="align-text-center">Significance</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="grey-text">
                                        <% @farm.lands.each do |land| %>
                                        <tr>
                                            <td class="align-text-center"><%= land.name %></td>
                                            <td class="align-text-center">
                                                <%= land.code != "" ? land.code : "-" %>
                                            </td>
                                            <td class="align-text-center">
                                                <%= land.land_type.category[0,15] %>..
                                            </td>
                                            <td class="align-text-center">
                                                <%= land.area %>
                                            </td>
                                            <td class="align-text-center">
                                                <%= land.sprayed ? "Yes" : "No" %>
                                            </td>
                                            <td class="align-text-center">
                                                <%= tillage_method_table_data(land) %>
                                            </td>
                                            <td class="align-text-center">
                                                <%= rotation_practice_table_data(land) %>
                                            </td>
                                            <td class="align-text-center">
                                                <%= habitat_condition_table_data(land) %>
                                            </td>
                                            <td class="align-text-center">
                                                <%= ecological_connectivity_table_data(land) %>
                                            </td>
                                            <td class="align-text-center">
                                                <%= strategic_significance_table_data(land) %>
                                            </td>
                                            <td class="align-text-center">
                                                <%= link_to edit_farm_land_path(@farm, land, creation: @creation),
                                                    class: "green-link" do %>
                                                    <i class="fas fa-edit fa-lg"></i>
                                                <% end %>
                                            </td>
                                            <td class="align-text-center">
                                                <%= link_to farm_land_path(@farm, land, creation: @creation),
                                                    method: :delete, class: "red-link" do %>
                                                    <i class="fas fa-trash fa-lg"></i>
                                                <% end %>
                                            </td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                                <% else %>
                                <div class="alert alert-primary" role="alert">
                                    You have no lands.
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <%= link_to "Add Parcel",
                            new_farm_land_path(@farm, creation: @creation),
                            class: "add-parcel-link" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
