<% soil_scores = [
    ["Poor", 0],
    ["Fair", 1],
    ["Good", 2]
] %>
<%= render 'shared/farms/sidebar' %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "Edit Soil Sample" %>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mb-5">
                <%= render 'shared/farms/edit/navbar', section: "Soil" %>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center px-4">
                        <%= link_to "In-Field Tests",
                            edit_farm_in_field_soil_test_path(@farm),
                            class: "edit-sub-link active" %>
                        <%= link_to "Lab-Based Tests",
                            farm_lands_path(@farm),
                            class: "edit-sub-link mx-5" %>
                    </div>
                </div>
                <%= bootstrap_form_with model: @soil_sample,
                    url: farm_in_field_soil_test_soil_sample_path(@farm, @soil_sample),
                    method: :put do |f| %>
                    <div class="shadow farm-edit-form-card pt-4 pb-3 px-4 d-flex mt-3
                        flex-column justify-content-between">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8 mt-3">
                                    <p>Please select a poor, fair, or good value for each attribute. Leave as poor if n/a.</p>
                                    <%= f.text_field :name, label: "Sample Name", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.collection_select :compaction, soil_scores, :last, :first, {label_class: "form-label mt-1 mb-3"} %>
                                    <%= f.collection_select :diversity_of_macro_life,
                                        soil_scores, :last, :first, {label: "Diversity Of Macro-Life", label_class: "form-label mt-1 mb-3"} %>
                                    <%= f.collection_select :crusting, soil_scores, :last, :first, {label_class: "form-label mt-1 mb-3"} %>
                                    <%= f.collection_select :ground_cover, soil_scores, :last, :first,
                                        {label_class: "form-label mt-1 mb-3"} %>
                                    <%= f.collection_select :ponding, soil_scores, :last, :first,
                                        {label_class: "form-label mt-1 mb-3"} %>
                                    <%= f.collection_select :plant_health, soil_scores, :last, :first,
                                        {label_class: "form-label mt-1 mb-3"} %>
                                    <%= f.collection_select :root_growth, soil_scores, :last, :first,
                                        {label_class: "form-label mt-1 mb-3"} %>
                                    <%= f.collection_select :aggregate_stability,
                                        soil_scores, :last, :first, {label_class: "form-label mt-1 mb-3"} %>
                                    <%= f.text_area :soil_colour, label_class: "form-label mt-1 mb-3" %>
                                    <%= f.text_area :soil_smell, label_class: "form-label mt-1 mb-3" %>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-5">
                            <%= link_to edit_farm_in_field_soil_test_path(@farm) do %>
                                <i class="fas fa-arrow-left fa-2x farm-creation-arrow"></i>
                            <% end %>
                            <button type="submit" class="btn farm-creation-arrow-button">
                                <i class="fas fa-save fa-2x farm-creation-plus-button"></i>
                            </button>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
