<%= render 'shared/farms/sidebar', page: "data" %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "Edit Sustainability Information"  %>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mb-5">
                <%= render 'shared/farms/edit/navbar', section: "Sustainability" %>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center px-4">
                        <%= link_to "Practices",
                            edit_farm_sustainability_survey_path(@farm),
                            class: "edit-sub-link active mr-3" %>
                        <%= link_to "Schemes",
                            edit_farm_schemes_survey_path(@farm),
                            class: "edit-sub-link ml-3" %>
                    </div>
                </div>
                <%= bootstrap_form_with model: @sustainability_survey,
                    url: farm_sustainability_survey_path,
                    method: :put do |f| %>
                    <div class="shadow farm-edit-form-card pt-4 pb-3 px-4 d-flex
                        flex-column justify-content-between mt-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8 mt-3">
                                    <% options = [['No', false], ['Yes', true]] %>
                                    <h4>Cropland</h4>
                                    <hr>
                                    <%= f.collection_select :cover_crops, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :intercropping, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :minimum_tillage, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :crop_rotations, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :legumes_or_grass_clover_crop_rotations, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :mulch_management, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :green_manure, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :integrated_pest_management, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :local_seed_varieties, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :avoidance_of_chemical_fertilisers_pesticides_herbicides, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :no_irrigation, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :overwinter_stubble, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :winter_cover_crops, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :flower_rich_margins, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :four_to_six_metre_buffers_cultivated_land, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <h4 class="mt-5">Grassland</h4>
                                    <hr>
                                    <%= f.collection_select :avoidance_of_chemical_fertilisers, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :avoidance_of_slurry_and_mineral_fertiliser, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :control_problem_weeds, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :soil_and_grass_root_stock_left_intact, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :livestock_grazed_manure_retained, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :extensive_grazing_only, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :no_grazing_between_march_june, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :mowing_grazing_delayed, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :refuge_areas, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :mowing_between_july_september, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :mowing_in_phases, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :cuttings_removed, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :in_field_grass_strips, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <h4 class="mt-5">Woodland</h4>
                                    <hr>
                                    <%= f.collection_select :dead_wood_retention, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :buffer_strips, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :re_stocking, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :deer_proof_fencing, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :open_areas, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <h4 class="mt-5">Rivers and Streams</h4>
                                    <hr>
                                    <%= f.collection_select :river_bank_vegetation_mown, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :river_bank_vegetation_left_standing_or_mown_in_phases, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :water_course_buffered_twelve_metres, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :water_course_cleared_regularly, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :dredge_cuttings_removed_promptly, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <h4 class="mt-5">Pools and Ponds</h4>
                                    <hr>
                                    <%= f.collection_select :pond_ditches_buffered, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :pond_bank_vegetation_mown_every_one_two_years, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :pond_bank_vegetation_left_standing, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :pond_plants_cleared, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :pond_cuttings_cleared_plants_removed_promptly, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :pond_bank_trees_shrubs_pruned_pollarded_coppiced, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :dredged_once_twice_every_five_years_material_removed, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-5">
                            <%= link_to edit_farm_path(@farm) do %>
                                <i class="fas fa-times fa-2x farm-creation-arrow"></i>
                            <% end %>
                            <button type="submit" class="btn farm-creation-arrow-button">
                                <i class="fas fa-save fa-2x farm-creation-arrow"></i>
                            </button>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

