<div class="sidebar">
    <%= render 'shared/display_sidebar' %>
</div>

<div class="page-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light mb-4 mt-4" style="background-color: #e3f2fd;">
                    <b class="navbar-brand uppercase snapshot-navbar-title"><%= @farm.name %></b>
                    <ul class="navbar-nav ml-auto">
                        <li class="navbar-text">
                            Edit In-Field Soil Test
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <% if @soil_samples.size > 0 %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sample ID</th>
                            <th scope="col">Compaction</th>
                            <th scope="col">Diversity of Macro-Life</th>
                            <th scope="col">Crusting</th>
                            <th scope="col">Ground Cover</th>
                            <th scope="col">Ponding</th>
                            <th scope="col">Plant Health</th>
                            <th scope="col">Root Growth</th>
                            <th scope="col">Aggregate Stability</th>
                            <th scope="col">Soil Colour</th>
                            <th scope="col">Soil Smell</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @soil_samples.each do |soil_sample| %>
                        <tr>
                            <td><%= soil_sample.id %></td>
                            <td><%= soil_sample.compaction %></td>
                            <td><%= soil_sample.diversity_of_macro_life %></td>
                            <td><%= soil_sample.crusting %></td>
                            <td><%= soil_sample.ground_cover %></td>
                            <td><%= soil_sample.ponding %></td>
                            <td><%= soil_sample.plant_health %></td>
                            <td><%= soil_sample.root_growth %></td>
                            <td><%= soil_sample.aggregate_stability %></td>
                            <td><%= soil_sample.soil_colour %></td>
                            <td><%= soil_sample.soil_smell %></td>
                            <td>
                                <%= link_to farm_in_field_soil_test_soil_sample_path(@farm, soil_sample), method: :delete do %>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <% else %>
                <div class="alert alert-primary" role="alert">
                    You have no soil samples.
                </div>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <%= link_to new_farm_in_field_soil_test_soil_sample_path(@farm) do %>
                <button type="button" class="btn btn-success">Add New Soil Sample</button>
                <% end %>
            </div>
        </div>
    </div>
</div>
