<div class="sidebar">

    <div class="sidebar-heading">
        NatureLogic
    </div>

    <hr class="sidebar-divider"/>

    <div class="sidebar-item">
        <%= link_to new_farm_path, class: "sidebar-link" do %>
            <div class="sidebar-item-content">
                <span>Snapshot</span>
                <i class="fas fa-search sidebar-icon"></i>
            </div>
        <% end %>
    </div>

    <div class="sidebar-item">
        <%= link_to farms_path, class: "sidebar-link" do %>
            <div class="sidebar-item-content">
                <span>Performance</span>
                <i class="fas fa-file-alt sidebar-icon"></i>
            </div>
        <% end %>
    </div>

    <div class="sidebar-item">
        <%= link_to farms_path, class: "sidebar-link" do %>
            <div class="sidebar-item-content">
                <span>Strategy</span>
                <i class="fas fa-file-alt sidebar-icon"></i>
            </div>
        <% end %>
    </div>

    <div class="sidebar-item">
        <%= link_to farms_path, class: "sidebar-link" do %>
            <div class="sidebar-item-content">
                <span>Data</span>
                <i class="fas fa-file-alt sidebar-icon"></i>
            </div>
        <% end %>
    </div>

    <div class="sidebar-item">
        <%= link_to farms_path, class: "sidebar-link" do %>
            <div class="sidebar-item-content">
                <span>Profile</span>
                <i class="fas fa-file-alt sidebar-icon"></i>
            </div>
        <% end %>
    </div>

</div>
