<div class="sidebar">
    <%= render 'shared/display_sidebar' %>
</div>

<div class="page-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light mb-4 mt-4" style="background-color: #e3f2fd;">
                    <ul class="navbar-nav mr-auto justify-content-between w-100">
                        <li class="nav-item">
                            <%= link_to "Carbon",
                                farm_carbon_performance_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Energy",
                                farm_energy_performance_path(@farm),
                                class: "nav-link active"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Soil",
                                farm_soil_performance_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Nature",
                                farm_nature_performance_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Schemes",
                                farm_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row px-3">

            <div class="col-5">

                <div class="card shadow border-warning snapshot-card mb-4" >
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold snapshot-card-label text-warning text-uppercase mb-1">Total Energy Use</div>
                                <div class="h5 mb-0 font-weight-bold snapshot-card-value"><%= @farm.scope_one + @farm.scope_two %> kWh</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-burn fa-2x snapshot-card-value"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4" >
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="py-2 px-5 carbon-contributions-header-div justify-content-center d-flex mb-2">
                                <b>Contributions</b>
                            </div>
                        </div>

                        <table class="table table-hover">
                            <tr>
                                <td class="carbon-contributions-first-row">Diesel</th>
                                <td class="carbon-contributions-first-row text-align-center"><%= @farm.total_diesel_use*0.25278 %> kgCO<sub>2</sub></td>
                            </tr>
                            <tr>
                                <td>Gas</th>
                                <td class="text-align-center"><%= @farm.total_gas_use*0.18387 %> kgCO<sub>2</sub></td>
                            </tr>
                            <tr>
                                <td>Electricity</th>
                                <td class="text-align-center"><%= @farm.total_electricity_use*0.23314 %> kgCO<sub>2</sub></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="card shadow">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <%= link_to "Energy Sources",
                                    farm_carbon_performance_path(@farm),
                                    class: "nav-link active nunito-font" %>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body carbon-chart-card-body pt-3">
                        <%= pie_chart [
                            ["Electricity", @farm.total_electricity_use*0.23314],
                            ["Gas", @farm.total_gas_use*0.18387],
                            ["Diesel", @farm.total_diesel_use*0.25278]] %>

                        <hr class="my-4">

                        <p class="nunito-font px-2">
                            A composition of your energy sources. Values are displayed in kg CO<sub>2</sub>.
                            Please hover over the bars to get exact values.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






