<div class="sidebar">
    <%= render 'shared/display_sidebar' %>
</div>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light mb-4 mt-4" style="background-color: #e3f2fd;">
                    <b class="navbar-brand uppercase snapshot-navbar-title"><%= @farm.name %></b>
                    <ul class="navbar-nav ml-auto">
                        <li class="navbar-text">
                            Snapshot Overview
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row mb-2 px-3 snapshot-row">
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body snapshot-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Carbon
                                <i class="fas fa-industry ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <div class="py-2 px-4 snapshot-value-div mb-4">
                                Carbon Balance: <b> <%= @farm.net_emissions %> kg </b>
                            </div>
                        </div>
                        <div class="row px-3 mb-2">
                            <%= column_chart [
                                ["Emissions", @farm.total_emissions],
                                ["Sequestration", @farm.total_sequestration],
                                ["Net", @farm.net_emissions]],
                                min: @farm.total_sequestration,
                                max: @farm.total_emissions + 10000,
                                height: "200px",
                                library: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                display: false,
                                            },
                                            gridLines: {
                                                lineWidth: 0,
                                                zeroLineWidth: 3,
                                                zeroLineColor: 'grey',
                                                z: 10
                                            }
                                        }],
                                        xAxes: [{
                                            ticks: {

                                            },
                                            gridLines: {
                                                display: false
                                            }
                                        }],
                                    },
                                }
                            %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body snapshot-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Energy
                                <i class="fas fa-bolt ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <div class="py-2 px-4 snapshot-value-div mb-4">
                                Usage: <b> <%= (@farm.total_electricity_use * 0.23314 +
                                               @farm.total_diesel_use * 2.6870514 +
                                               @farm.total_gas_use * 0.18387).round(0) %> kWh </b>
                            </div>
                        </div>
                        <div class="row px-3 mb-2">
                            <%= pie_chart [
                                ["Electricity", @farm.total_electricity_use * 0.23314],
                                ["Diesel", @farm.total_diesel_use * 2.6870514],
                                ["Gas", @farm.total_gas_use * 0.18387]],
                                height: "200px",
                                library: {
                                    legend: {
                                        position: "bottom"
                                    }
                                }
                            %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body snapshot-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Nature
                                <i class="fas fa-leaf ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <div class="py-2 px-4 snapshot-value-div mb-4">
                                Biodiversity Score: <b> <%= @farm.biodiversity_survey.biodiversity_percentage_score %> % </b>
                            </div>
                        </div>
                        <div class="row px-3 mb-2">
                            <%= pie_chart habitat_area_data,
                                height: "200px",
                                library: {
                                    legend: {
                                        position: "bottom"
                                    }
                                }
                            %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4 px-3">
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body snapshot-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Soil
                                <i class="fas fa-tree ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <div class="py-2 px-4 snapshot-value-div mb-3">
                                Soil Health Score: <b> <%= @farm.in_field_soil_test.soil_health_score.round(2)  %> % </b>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="py-2 px-4 snapshot-value-div mb-3">
                                Mean SOC: <b> <%= @farm.lab_based_soil_test.mean_SOC  %> % </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body snapshot-card-body">
                        <div class="row justify-content-center mb-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Sustainability
                                <i class="fas fa-sun ml-1"></i>
                            </h5>
                        </div>
                        <div class="row justify-content-center">
                            <div class="py-2 px-4 snapshot-value-div mb-3">
                                Number of Schemes: <b>4 </b>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="py-2 px-4 snapshot-value-div mb-3">
                                Countryside Stewardship: <b> 11.6 % </b>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="py-2 px-4 snapshot-value-div mb-3">
                                CSS Payments: <b> £ 1726</b>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="py-2 px-4 snapshot-value-div mb-3">
                                Sustainable Practices Score: <b> <%= @farm.sustainability_survey.sustainable_practice_score %> % </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


