<div class="sidebar">
    <%= render 'shared/display_sidebar' %>
</div>

<div class="page-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light mb-4 mt-4" style="background-color: #e3f2fd;">
                    <ul class="navbar-nav mr-auto justify-content-between w-100">
                        <li class="nav-item">
                            <%= link_to "Carbon",
                                farm_carbon_performance_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Energy",
                                farm_energy_performance_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Soil",
                                farm_soil_performance_path(@farm),
                                class: "nav-link active"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Nature",
                                farm_nature_performance_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Schemes",
                                farm_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row px-3">

            <div class="col-4">

                <div class="card shadow border-primary snapshot-card mb-4" >
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold snapshot-card-label text-primary text-uppercase mb-1">Soil Health Score</div>
                                <div class="h5 mb-0 font-weight-bold snapshot-card-value"><%= @farm.in_field_soil_test.soil_health_score %> %</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-industry fa-2x snapshot-card-value"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-success snapshot-card mb-4" >
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold snapshot-card-label text-success text-uppercase mb-1">Mean SOC</div>
                                <div class="h5 mb-0 font-weight-bold snapshot-card-value"><%= @farm.lab_based_soil_test.mean_SOC%> %</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-industry fa-2x snapshot-card-value"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-success snapshot-card mb-4" >
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold snapshot-card-label text-success text-uppercase mb-1">Total C</div>
                                <div class="h5 mb-0 font-weight-bold snapshot-card-value"><%= @farm.lab_based_soil_test.total_c %> kg</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-industry fa-2x snapshot-card-value"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-info snapshot-card mb-4" >
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-12">
                                <div class="text-xs font-weight-bold snapshot-card-label text-info text-uppercase mb-1">Targets</div>
                                <% if @farm.in_field_soil_test.soil_health_score > @farm.target.field_based_soil_health_score %>
                                    <div class="mb-0 font-weight-bold snapshot-card-value">
                                        You have achieved your soil health score target of <%= @farm.target.field_based_soil_health_score %> %
                                    </div>
                                <% else %>
                                    <div class="mb-0 font-weight-bold snapshot-card-value">
                                        You have not achieved your soil health score target of <%= @farm.target.field_based_soil_health_score %> %
                                    </div>
                                <% end %>
                                <% if @farm.lab_based_soil_test.mean_SOC > @farm.target.mean_SOC%>
                                    <div class="mb-0 font-weight-bold snapshot-card-value">
                                        You have achieved your mean SOC target of <%= @farm.target.mean_SOC %> %
                                    </div>
                                <% else %>
                                    <div class="mb-0 font-weight-bold snapshot-card-value">
                                        You have not achieved your mean SOC target of <%= @farm.target.mean_SOC %> %
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="card shadow">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                            <%= link_to "Biodiversity Factors",
                                farm_nature_performance_path(@farm),
                                class: "nav-link carbon-chart-card-link nunito-font active" %>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body carbon-chart-card-body pt-5">
                        <%= column_chart [
                            ["Habitats", @farm.biodiversity_survey.habitat_score],
                            ["Genetic Diversity", @farm.biodiversity_survey.genetic_diversity_score],
                            ["Management Practices", @farm.biodiversity_survey.management_practices_score],
                            ["Species", @farm.biodiversity_survey.species_score]] %>

                        <hr class="my-4">

                        <p class="nunito-font px-2">
                            An overview of your biodiversity factors. Please hover over the bars to get exact values.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


