<div class="sidebar">
    <%= render 'shared/display_sidebar' %>
</div>

<div class="page-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light mb-4 mt-4" style="background-color: #e3f2fd;">
                    <ul class="navbar-nav mr-auto justify-content-between w-100">
                        <li class="nav-item">
                            <%= link_to "Carbon",
                                farm_carbon_performance_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Energy",
                                farm_energy_performance_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Soil",
                            farm_soil_performance_path(@farm),
                                class: "nav-link active"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Nature",
                                farm_nature_performance_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Schemes",
                                farm_path(@farm),
                                class: "nav-link"
                            %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row px-3">

            <div class="col-4">

                <div class="card shadow border-primary snapshot-card mb-4" >
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold snapshot-card-label text-primary text-uppercase mb-1">Soil Health Score</div>
                                <div class="h5 mb-0 font-weight-bold snapshot-card-value"><%= @farm.in_field_soil_test.soil_health_score %> %</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-industry fa-2x snapshot-card-value"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow border-success snapshot-card mb-4" >
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold snapshot-card-label text-success text-uppercase mb-1">Mean SOC</div>
                                <div class="h5 mb-0 font-weight-bold snapshot-card-value"><%= @farm.lab_based_soil_test.mean_SOC%> %</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-industry fa-2x snapshot-card-value"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4" >
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="py-2 px-5 carbon-contributions-header-div justify-content-center d-flex mb-2">
                                <b>In-Field Scores</b>
                            </div>
                        </div>

                        <table class="table table-hover">
                            <tr>
                                <td class="carbon-contributions-first-row">Compaction</th>
                                <td class="carbon-contributions-first-row text-align-center"><%= soil_health_traffic_light @farm.in_field_soil_test.average_compaction %> </td>
                            </tr>
                            <tr>
                                <td>Crusting</th>
                                <td class="text-align-center"><%= soil_health_traffic_light @farm.in_field_soil_test.average_crusting %></td>
                            </tr>
                            <tr>
                                <td>Diversity of Macro-Life</th>
                                <td class="text-align-center"><%= soil_health_traffic_light @farm.in_field_soil_test.average_diversity_of_macro_life %></td>
                            </tr>
                            <tr>
                                <td>Ponding</th>
                                <td class="text-align-center"><%= soil_health_traffic_light @farm.in_field_soil_test.average_ponding %></td>
                            </tr>
                            <tr>
                                <td>Plant Health</th>
                                <td class="text-align-center"><%= soil_health_traffic_light @farm.in_field_soil_test.average_plant_health %></td>
                            </tr>
                            <tr>
                                <td>Root Growth</th>
                                <td class="text-align-center"><%= soil_health_traffic_light @farm.in_field_soil_test.average_root_growth %></td>
                            </tr>
                            <tr>
                                <td>Aggregate Stability</th>
                                <td class="text-align-center"><%= soil_health_traffic_light @farm.in_field_soil_test.average_aggregate_stability %></td>
                            </tr>
                            <tr>
                                <td>Soil Colour</th>
                                <td class="text-align-center"><%= soil_health_traffic_light @farm.in_field_soil_test.average_soil_colour %></td>
                            </tr>
                            <tr>
                                <td>Soil Smell</th>
                                <td class="text-align-center"><%= soil_health_traffic_light @farm.in_field_soil_test.average_soil_smell %></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <% if params[:carbon_captured] %>
                <div class="card shadow">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <%= link_to "Raw Soil Carbon",
                                    farm_soil_performance_path(@farm),
                                    class: "nav-link carbon-chart-card-link nunito-font" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Carbon Capture",
                                    farm_soil_performance_path(@farm, carbon_captured: true),
                                    class: "nav-link carbon-chart-card-link nunito-font active" %>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body carbon-chart-card-body pt-5">
                        <%= column_chart @farm.lab_based_soil_test.carbon_capture_data,
                            suffix: " g/l" %>
                        <hr class="my-4">
                        <p class="nunito-font px-2">
                            The soil carbon contained in each of your soil parcels.
                        </p>
                    </div>
                </div>
                <% else %>
                <div class="card shadow">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <%= link_to "Raw Soil Carbon",
                                    farm_soil_performance_path(@farm),
                                    class: "nav-link carbon-chart-card-link nunito-font active" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Carbon Capture",
                                    farm_soil_performance_path(@farm, carbon_captured: true),
                                    class: "nav-link carbon-chart-card-link nunito-font" %>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body carbon-chart-card-body pt-5">
                        <%= column_chart @farm.lab_based_soil_test.soil_carbon_bulk_density_data,
                            suffix: " g/l" %>
                        <hr class="my-4">
                        <p class="nunito-font px-2">
                            The soil carbon contained in each of your soil parcels.
                        </p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>




