<div class="row">
    <%= f.number_field :pH %>
    <%= f.number_field :SOC %>
    <%= f.number_field :bulk_density %>
    <%= f.number_field :soil_texture %>
    <%= f.number_field :total_soil_nitrogen %>
    <%= f.number_field :extractable_phosphorus %>
    <%= f.number_field :extractable_potassium %>
    <%= f.number_field :cation_exchange_capacity %>
    <%= f.number_field :extractable_micronutrients %>
    <%= f.number_field :active_carbon_PoXC %>
    <%= f.number_field :water_holding_capacity%>
</div>


