<%= render 'shared/farms/sidebar' %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "Edit Lab-Based Soil Test" %>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <%= render 'shared/farms/edit/navbar', section: "Soil" %>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center px-4">
                        <%= link_to "In-Field Tests",
                            edit_farm_in_field_soil_test_path(@farm),
                            class: "edit-sub-link" %>
                        <%= link_to "Lab-Based Tests",
                            edit_farm_lab_based_soil_test_path(@farm),
                            class: "edit-sub-link-active mx-5" %>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="shadow farm-edit-form-card pt-4 pb-3 px-4 mt-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                            <% if @lab_based_soil_test.soil_parcels.size > 0 %>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="align-text-center">Name</th>
                                        <th class="align-text-center">pH</th>
                                        <th class="align-text-center">SOC</th>
                                        <th class="align-text-center">Density</th>
                                        <th class="align-text-center">Texture</th>
                                        <th class="align-text-center">Nitrogen</th>
                                        <th class="align-text-center">Phosphorous</th>
                                        <th class="align-text-center">Potassium</th>
                                        <th class="align-text-center">Exchange</th>
                                        <th class="align-text-center">Micronutrients</th>
                                        <th class="align-text-center">PoXC</th>
                                        <th class="align-text-center">Water</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @lab_based_soil_test.soil_parcels.each do |soil_parcel| %>
                                    <tr>
                                        <td class="align-text-center"><%= soil_parcel.name %></td>
                                        <td class="align-text-center"><%= soil_parcel.pH %></td>
                                        <td class="align-text-center"><%= soil_parcel.SOC %></td>
                                        <td class="align-text-center"><%= soil_parcel.bulk_density %></td>
                                        <td class="align-text-center"><%= soil_parcel.soil_texture %></td>
                                        <td class="align-text-center"><%= soil_parcel.total_soil_nitrogen %></td>
                                        <td class="align-text-center"><%= soil_parcel.extractable_phosphorus %></td>
                                        <td class="align-text-center"><%= soil_parcel.extractable_potassium %></td>
                                        <td class="align-text-center"><%= soil_parcel.cation_exchange_capacity %></td>
                                        <td class="align-text-center"><%= soil_parcel.extractable_micronutrients %></td>
                                        <td class="align-text-center"><%= soil_parcel.active_carbon_PoXC %></td>
                                        <td class="align-text-center"><%= soil_parcel.water_holding_capacity %></td>
                                        <td class="align-text-center">
                                            <%= link_to edit_farm_lab_based_soil_test_soil_parcel_path(@farm, soil_parcel),
                                                class: "edit-land-link" do %>
                                                <i class="fas fa-edit fa-lg"></i>
                                            <% end %>
                                        </td>
                                        <td class="align-text-center">
                                            <%= link_to farm_lab_based_soil_test_soil_parcel_path(@farm, soil_parcel),
                                                method: :delete, class: "delete-link" do %>
                                                <i class="fas fa-trash fa-lg"></i>
                                            <% end %>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <% else %>
                            <div class="alert alert-primary" role="alert">
                                You have no soil parcels!
                            </div>
                            <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <%= link_to "Add Soil Parcel",
                            new_farm_lab_based_soil_test_soil_parcel_path(@farm),
                            class: "add-parcel-link" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
