<%= javascript_pack_tag 'farm' %>
<div class="sidebar">
    <%= render 'shared/display_sidebar' %>
</div>

<div class="page-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light mb-4 mt-4" style="background-color: #e3f2fd;">
                    <b class="navbar-brand uppercase snapshot-navbar-title"><%= @farm.name %></b>
                    <ul class="navbar-nav ml-auto">
                        <li class="navbar-text">
                            Edit Lab-Based Soil Test
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row mb-4 px-3">
            <div class="col-12">
                <div class="card shadow mb-4 snapshot-overview-card">
                    <div class="card-body">
                        <div class="row mb-3 ml-3">
                            <h5 class="m-0 font-weight-bold text-primary uppercase">
                                Your Soil Parcels
                            </h5>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Parcel ID</th>
                                    <th scope="col">pH</th>
                                    <th scope="col">SOC</th>
                                    <th scope="col">Bulk Density</th>
                                    <th scope="col">Soil Texture</th>
                                    <th scope="col">Total Soil Nitrogen</th>
                                    <th scope="col">Extractable Phosphorous</th>
                                    <th scope="col">Extractable Potassium</th>
                                    <th scope="col">Cation Exchange Capacity</th>
                                    <th scope="col">Extractable Micronutrients</th>
                                    <th scope="col">Active Carbon PoXC</th>
                                    <th scope="col">Water Holding Capacity</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% @soil_parcels.each do |soil_parcel| %>
                                    <tr>
                                        <td><%= soil_parcel.id %></td>
                                        <td><%= soil_parcel.pH %></td>
                                        <td><%= soil_parcel.SOC %></td>
                                        <td><%= soil_parcel.bulk_density %></td>
                                        <td><%= soil_parcel.soil_texture %></td>
                                        <td><%= soil_parcel.total_soil_nitrogen %></td>
                                        <td><%= soil_parcel.extractable_phosphorus %></td>
                                        <td><%= soil_parcel.extractable_potassium %></td>
                                        <td><%= soil_parcel.cation_exchange_capacity %></td>
                                        <td><%= soil_parcel.extractable_micronutrients %></td>
                                        <td><%= soil_parcel.active_carbon_PoXC %></td>
                                        <td><%= soil_parcel.water_holding_capacity %></td>
                                        <td>
                                            <%= link_to farm_lab_based_soil_test_soil_parcel_path(@farm, soil_parcel), method: :delete do %>
                                                <button type="button" class="btn btn-danger">Delete</button>
                                            <% end %>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <%= link_to new_farm_lab_based_soil_test_soil_parcel_path(@farm) do %>
                            <button type="button" class="btn btn-success">Add New Soil Parcel</button>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


