<%= render 'shared/farms/sidebar', page: "data" %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "New Soil Parcel" %>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mb-5">
                <%= render 'shared/farms/edit/navbar', section: "Soil" %>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center px-4">
                        <%= link_to "In-Field Tests",
                            edit_farm_in_field_soil_test_path(@farm),
                            class: "edit-sub-link" %>
                        <%= link_to "Lab-Based Tests",
                            farm_lands_path(@farm),
                            class: "edit-sub-link active mx-5" %>
                    </div>
                </div>
                <%= bootstrap_form_with model: @soil_parcel,
                    url: farm_lab_based_soil_test_soil_parcels_path(@farm),
                    method: :post do |f| %>
                    <div class="shadow farm-edit-form-card pt-4 pb-3 px-4 d-flex mt-3
                        flex-column justify-content-between">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8 mt-3">
                                    <%= f.text_field :name, value: "", label: "Parcel Name", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :pH, step: :any, value: "", label: "pH", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :SOC, step: :any, value: "", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :bulk_density, step: :any, value: "", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :soil_texture, step: :any, value: "",  label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :total_soil_nitrogen, step: :any, value: "", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :extractable_phosphorus, step: :any, value: "", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :extractable_potassium, step: :any, value: "", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :cation_exchange_capacity, step: :any, value: "", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :extractable_micronutrients, step: :any, value: "", label_class: "form-label mt-1 mb-3" %>
                                    <%= f.number_field :active_carbon_PoXC, step: :any, value: "",
                                        label: "Active Carbon PoXC", label_class: "form-label mt-1 mb-3"%>
                                    <%= f.number_field :water_holding_capacity, step: :any, value: "", label_class: "form-label mt-1 mb-3" %>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-5">
                            <%= link_to edit_farm_lab_based_soil_test_path(@farm) do %>
                                <i class="fas fa-arrow-left fa-2x farm-creation-arrow"></i>
                            <% end %>
                            <button type="submit" class="btn farm-creation-arrow-button">
                                <i class="fas fa-save fa-2x farm-creation-plus-button"></i>
                            </button>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

