<% if @creation %>
<%= render 'shared/farm_creation/sidebar' %>
<% else %>
<%= render 'shared/farms/sidebar' %>
<% end %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <% if @creation %>
                <%= render 'shared/farm_creation/navbar' %>
                <% else %>
                <%= render 'shared/farms/navbar', section: "Edit Hedgerows" %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <% if @creation %>
            <div class="col-3">
                <ul class="nav d-flex flex-column mt-3 creation-step-nav align-items-center">
                    <li class="nav-item mt-3">
                        <%= link_to "Start",
                            farm_creation_path(:start, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Details",
                            farm_creation_path(:details, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Energy",
                            farm_creation_path(:energy, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Resources",
                            farm_creation_path(:resources, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Livestock",
                            farm_creation_path(:livestock, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Land Parcels",
                            farm_creation_path(:lands, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Hedgerows",
                            farm_creation_path(:hedgerows, farm_id: @farm.id),
                            class: "creation-link-active" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Biodiversity",
                            farm_creation_path(:biodiversity_surveys, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Sustainability",
                            farm_creation_path(:sustainability_surveys, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Targets",
                            farm_creation_path(:targets, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-5 mb-3">
                        <%= link_to "Skip",
                            farm_snapshot_path(
                                farm_id: @farm.id,
                                skip_creation: true),
                            class: "skip-creation-link" %>
                    </li>
                </ul>
            </div>
            <div class="col-9 pr-5">
                <div class="row no-gutters mt-3">
                    <div class="col-10">
                        <%= bootstrap_form_with model: @hedgerow,
                            url: farm_hedgerow_path(@farm, @hedgerow, creation: @creation),
                            method: :put do |f| %>
                            <div class="shadow farm-creation-form-card pt-4 pb-3 px-4 d-flex
                                flex-column justify-content-between">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-2"></div>
                                            <div class="col-8 mt-3">
                                                <%= f.collection_select :hedgerow_type_id,
                                                    HedgerowType.all, :id, :category,
                                                    {label: "Type", label_class: "form-label mt-1 mb-3"} %>
                                                <%= f.number_field :length, step: :any, label: "Length (km)",
                                                    label_class: "form-label mt-1 mb-3" %>
                                                <%= f.text_area :description, label: "Description",
                                                    label_class: "form-label mt-1 mb-3" %>
                                            </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-5">
                                    <% if @creation %>
                                        <%= link_to farm_creation_path(:hedgerows, **farm_and_estate_ids) do %>
                                            <i class="fas fa-arrow-left fa-2x farm-creation-arrow"></i>
                                        <% end %>
                                        <button type="submit" class="btn farm-creation-arrow-button">
                                            <i class="fas fa-save fa-2x farm-creation-plus-button"></i>
                                        </button>
                                    <% else %>
                                        <%= link_to "Back",
                                            farm_lands_path(@farm, creation: @creation),
                                            class: "btn btn-default btn-danger" %>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <% else %>
            <div class="col-2"></div>
            <div class="col-8 mb-5">
                <%= render 'shared/farms/edit/navbar', section: "Nature" %>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center px-4">
                        <%= link_to "Biodiversity",
                            edit_farm_biodiversity_survey_path(@farm),
                            class: "edit-sub-link-active" %>
                        <%= link_to "Lands",
                            farm_lands_path(@farm),
                            class: "edit-sub-link mx-5" %>
                        <%= link_to "Hedgerows",
                            farm_hedgerows_path(@farm),
                            class: "edit-sub-link" %>
                    </div>
                </div>
                <%= bootstrap_form_with model: @hedgerow,
                    url: farm_hedgerow_path(@farm, @hedgerow, creation: @creation),
                    method: :put do |f| %>
                    <div class="shadow farm-edit-form-card pt-4 pb-3 px-4 d-flex
                        flex-column justify-content-between mt-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2"></div>
                                    <div class="col-8 mt-3">
                                        <%= f.collection_select :hedgerow_type_id,
                                            HedgerowType.all, :id, :category,
                                            {label: "Type", label_class: "form-label mt-1 mb-3"} %>
                                        <%= f.number_field :length, step: :any, label: "Length (km)",
                                            label_class: "form-label mt-1 mb-3" %>
                                        <%= f.text_area :description, label: "Description",
                                            label_class: "form-label mt-1 mb-3" %>
                                    </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-5">
                            <%= link_to edit_farm_path(@farm) do %>
                                <i class="fas fa-arrow-left fa-2x farm-creation-arrow"></i>
                            <% end %>
                            <button type="submit" class="btn farm-creation-arrow-button">
                                <i class="fas fa-save fa-2x farm-creation-plus-button"></i>
                            </button>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-2"></div>
            <% end %>
        </div>
    </div>
</div>
