<% if @creation %>
<%= render 'shared/farm_creation/sidebar' %>
<% else %>
<%= render 'shared/farms/sidebar' %>
<% end %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <% if @creation %>
                <%= render 'shared/farm_creation/navbar' %>
                <% else %>
                <%= render 'shared/farms/navbar', section: "Edit Lands" %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <ul class="nav d-flex flex-column mt-3 creation-step-nav align-items-center">
                    <li class="nav-item mt-3">
                        <%= link_to "Start",
                            farm_creation_path(:start, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Details",
                            farm_creation_path(:details, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Energy",
                            farm_creation_path(:energy, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Resources",
                            farm_creation_path(:resources, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Livestock",
                            farm_creation_path(:livestock, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Land Parcels",
                            farm_creation_path(:lands, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Hedgerows",
                            farm_creation_path(:hedgerows, farm_id: @farm.id),
                            class: "creation-link-active" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Biodiversity",
                            farm_creation_path(:biodiversity_surveys, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Sustainability",
                            farm_creation_path(:sustainability_surveys, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Targets",
                            farm_creation_path(:targets, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-5 mb-3">
                        <%= link_to "Skip",
                            farm_snapshot_path(
                                farm_id: @farm.id,
                                skip_creation: true),
                            class: "skip-creation-link" %>
                    </li>
                </ul>
            </div>
            <div class="col-10 pr-5">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="farm-creation-form-header mt-3 mb-3 py-2 pl-4">
                            Hedgerows - New
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row no-gutters">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <%= bootstrap_form_with model: @hedgerow,
                            url: farm_hedgerows_path(@farm, creation: @creation),
                            method: :post do |f| %>
                            <div class="shadow farm-creation-form-card pt-4 pb-3 px-4 d-flex
                                flex-column justify-content-between">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-2"></div>
                                            <div class="col-8">
                                                <%= f.collection_select :hedgerow_type_id,
                                                    HedgerowType.all, :id, :category,
                                                    {label: "Type", label_class: "creation-form-label mt-1 mb-3"} %>
                                                <%= f.number_field :length, step: :any, label: "Length (km)", value: "",
                                                    label_class: "creation-form-label mt-1 mb-3" %>
                                                <%= f.text_area :description, label: "Description", value: "",
                                                    label_class: "creation-form-label mt-1 mb-3" %>
                                            </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <% if @creation %>
                                        <%= link_to farm_creation_path(:hedgerows, **farm_and_estate_ids) do %>
                                            <i class="fas fa-arrow-left fa-2x farm-creation-arrow"></i>
                                        <% end %>
                                        <button type="submit" class="btn farm-creation-arrow-button">
                                            <i class="fas fa-plus-circle fa-2x farm-creation-plus-button"></i>
                                        </button>
                                    <% else %>
                                        <%= link_to "Back",
                                            farm_lands_path(@farm, creation: @creation),
                                            class: "btn btn-default btn-danger" %>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
