<div class="home-background">
    <div class="container">
        <div class="row home-background">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card home-card container">
                    <div class="row h-100">
                        <div class="col-6">
                            <div class="d-flex h-100 align-items-center">
                                <div class="w-100">
                                    <div class="d-flex justify-content-center mb-4">
                                        <h1 class="home-text-green">NatureLogic</h1>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img src="/pilio-logo.png" class="home-logo"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex h-100 mt-5">
                                <div class="container">
                                    <div class="col-12">
                                      <h5 class="home-text-green mb-3">Enter Estate Name</h5>
                                        <%= bootstrap_form_with model: @estate do |f| %>
                                            <%= f.text_field :name %>
                                            <%= f.text_field :location %>
                                            <%= f.hidden_field :estate_user_id, value: @estate.estate_user_id %>
                                            <%= f.submit "Submit", class: "btn btn-info" %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>