<nav class="navbar navbar-expand-lg edit-farm-navbar">
    <ul class="navbar-nav mr-auto justify-content-between w-100">
        <li class="nav-item">
            <% if section == "Farm" %>
                <%= link_to "Farm",
                    "#",
                    class: "nav-link edit-nav-link-active" %>
            <% else %>
                <%= link_to "Farm",
                    farm_edit_details_path(@farm),
                    class: "nav-link edit-nav-link" %>
            <% end %>
        </li>
        <li class="nav-item">
            <% if section == "Energy" %>
                <%= link_to "Energy",
                    "#",
                    class: "nav-link edit-nav-link-active" %>
            <% else %>
                <%= link_to "Energy",
                    farm_edit_energy_usage_path(@farm),
                    class: "nav-link edit-nav-link" %>
            <% end %>
        </li>
        <li class="nav-item">
            <% if section == "Soil" %>
                <%= link_to "Soil",
                    "#",
                    class: "nav-link edit-nav-link-active" %>
            <% else %>
                <%= link_to "Soil",
                    edit_farm_in_field_soil_test_path(@farm),
                    class: "nav-link edit-nav-link" %>
            <% end %>
        </li>
        <li class="nav-item">
            <% if section == "Nature" %>
                <%= link_to "Nature",
                    "#",
                    class: "nav-link edit-nav-link-active" %>
            <% else %>
                <%= link_to "Nature",
                    edit_farm_biodiversity_survey_path(@farm),
                    class: "nav-link edit-nav-link" %>
            <% end %>
        </li>
        <li class="nav-item">
            <% if section == "Sustainability" %>
                <%= link_to "Sustainability",
                    "#",
                    class: "nav-link edit-nav-link-active" %>
            <% else %>
                <%= link_to "Sustainability",
                    edit_farm_sustainability_survey_path(@farm),
                    class: "nav-link edit-nav-link" %>
            <% end %>
        </li>
    </ul>
</nav>