<%= render 'shared/farms/sidebar', page: "data" %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "Edit Schemes Participation"  %>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mb-5">
                <%= render 'shared/farms/edit/navbar', section: "Sustainability" %>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center px-4">
                        <%= link_to "Practices",
                            edit_farm_sustainability_survey_path(@farm),
                            class: "edit-sub-link mr-3" %>
                        <%= link_to "Schemes",
                            edit_farm_schemes_survey_path(@farm),
                            class: "edit-sub-link active ml-3" %>
                    </div>
                </div>
                <%= bootstrap_form_with model: @schemes_survey,
                    url: farm_schemes_survey_path,
                    method: :put do |f| %>
                    <div class="shadow farm-edit-form-card pt-4 pb-3 px-4 d-flex
                        flex-column justify-content-between mt-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8 mt-3">
                                    <% options = [['No', false], ['Yes', true]] %>
                                    <h4>Sustainable Farming Schemes</h4>
                                    <hr>
                                    <%= f.collection_select :sustainable_farming_incentive, options, :last, :first,
                                        { label_class: "form-label my-3"}%>
                                    <%= f.collection_select :local_nature_recovery, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :landscape_recovery, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :environmental_land_management, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :countryside_stewardship, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :environmental_stewardship, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :woodland_grant, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :organic_association, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :soil_association, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :pasture_fed_livestock_association, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <%= f.collection_select :regenerative_organic_certification, options, :last, :first,
                                        { label_class: "form-label my-3"} %>
                                    <h4 class="mt-5">Conservation</h4>
                                    <hr>
                                    <%= f.collection_select :conservation_projects, options, :last, :first,
                                        {label: "Are conservation projects with the RSPB, Wildlife Trust or other conservation body in place on the farm?",
                                        label_class: "form-label my-3"} %>
                                    <%= f.number_field :conservation_projects_number, label: "If so, please state how many?", label_class: "form-label my-3" %>
                                    <h4 class="mt-5">Landscape Network</h4>
                                    <hr>
                                    <%= f.collection_select :landscape_networks, options, :last, :first,
                                        {label: "Are you involved in a farm network or landscape-level to promote the environment, enhance biodiversity or tackle climate change?",
                                        label_class: "form-label my-3"} %>
                                    <%= f.number_field :landscape_networks_number, label: "If so, please state how many?", label_class: "form-label my-3" %>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-5">
                            <%= link_to edit_farm_path(@farm) do %>
                                <i class="fas fa-times fa-2x farm-creation-arrow"></i>
                            <% end %>
                            <button type="submit" class="btn farm-creation-arrow-button">
                                <i class="fas fa-save fa-2x farm-creation-arrow"></i>
                            </button>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

