<% if @creation %>
<%= render 'shared/farm_creation/sidebar' %>
<% else %>
<%= render 'shared/farms/sidebar' %>
<% end %>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <% if @creation %>
                <%= render 'shared/farm_creation/navbar' %>
                <% else %>
                <%= render 'shared/farms/navbar', section: "Edit Schemes Survey" %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card shadow form-card">
                    <% if @creation %>
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold card-header-text">Schemes Survey</h6>
                        <h6 class="m-0 font-weight-bold card-header-text">9 / 13</h6>
                    </div>
                    <% end %>
                    <div class="card-body form-card-body">
                        <%= bootstrap_form_with model: @schemes_survey,
                            url: farm_schemes_survey_path(creation: @creation),
                            method: :put,
                            class: "w-100 h-100" do |f| %>
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="overflow-auto mb-2">
                                    <h6><b>Sustainable Farming Schemes</b></h6>
                                    <hr>
                                    <div class="ml-1 mt-2 mb-4">
                                        <%= f.check_box :sustainable_farming_incentive %>
                                        <%= f.check_box :local_nature_recovery %>
                                        <%= f.check_box :landscape_recovery %>
                                        <%= f.check_box :environmental_land_management %>
                                        <%= f.check_box :countryside_stewardship %>
                                        <%= f.check_box :environmental_stewardship %>
                                        <%= f.check_box :woodland_grant %>
                                        <%= f.check_box :organic_association %>
                                        <%= f.check_box :soil_association %>
                                        <%= f.check_box :pasture_fed_livestock_association %>
                                        <%= f.check_box :regenerative_organic_certification %>
                                    </div>
                                    <h6 ><b>Conservation</b></h6>
                                    <hr>
                                    <div class="ml-1 mb-4">
                                        <%= f.check_box :conservation_projects,
                                            label: "Are conservation projects with the RSPB, Wildlife Trust or other conservation body in place on the farm?" %>
                                        <%= f.number_field :conservation_projects_number,
                                            label: "If so, how many?" %>
                                        <%= f.check_box :landscape_networks,
                                            label: "Are you involved in a farm network or landscape-level to promote the environment, enhance biodiversity or tackle climate change?" %>
                                        <%= f.number_field :landscape_networks_number,
                                            label: "If so, how many?" %>
                                    </div>
                                    <h6 ><b>Landscape Networks</b></h6>
                                    <hr>
                                    <div class="ml-1 mb-4">
                                        <%= f.check_box :landscape_networks,
                                            label: "Are you involved in a farm network or landscape-level to promote the environment, enhance biodiversity or tackle climate change?" %>
                                        <%= f.number_field :landscape_networks_number,
                                            label: "If so, how many?" %>
                                    </div>
                                    <%= f.hidden_field :farm_id, value: @farm.id %>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-between">
                                        <% if @creation %>
                                        <div>
                                            <%= link_to "Back",
                                                farm_creation_path(:sustainability_surveys, farm_id: @farm.id),
                                                class: "btn btn-default btn-danger" %>
                                        </div>
                                        <div>
                                            <%= f.submit "Next",
                                                class: "btn btn-default btn-primary" %>
                                        </div>
                                        <% else %>
                                        <div>
                                            <%= link_to "Back",
                                                edit_farm_path(@farm),
                                                class: "btn btn-default btn-danger" %>
                                        </div>
                                        <div>
                                            <%= f.submit "Save Changes",
                                                class: "btn btn-default btn-primary" %>
                                        </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

