<%= render 'shared/farms/sidebar', page: "data" %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farms/navbar', section: "Edit Biodiversity"  %>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 mb-5">
                <%= render 'shared/farms/edit/navbar', section: "Nature" %>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center px-4">
                        <%= link_to "Biodiversity",
                            edit_farm_biodiversity_survey_path(@farm),
                            class: "edit-sub-link active" %>
                        <%= link_to "Lands",
                            farm_lands_path(@farm),
                            class: "edit-sub-link mx-5" %>
                        <%= link_to "Hedgerows",
                            farm_hedgerows_path(@farm),
                            class: "edit-sub-link" %>
                    </div>
                </div>
                <%= bootstrap_form_with model: @biodiversity_survey,
                    url: farm_biodiversity_survey_path(creation: @creation),
                    method: :put do |f| %>
                    <div class="shadow farm-edit-form-card pt-4 pb-3 px-4 d-flex
                        flex-column justify-content-between mt-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8 mt-3">
                                    <%= f.number_field :area_designated_for_natural_conservation,
                                        step: :any, label: "Area of habitat dedicated solely to conservation (ha)",
                                        label_class: "form-label my-3" %>
                                    <%= f.number_field :area_in_existing_agri_environment_schemes, step: :any,
                                        label: "Area in existing agri-environmental schemes (ha)",
                                        label_class: "form-label my-3" %>
                                    <%= f.number_field :area_of_grass_wildflower_scrub_not_for_production, step: :any,
                                        label: "Area of grassland, scrub, or wildflower not used for production (ha)",
                                        label_class: "form-label my-3" %>
                                    <%= f.select :grassland_condition, [
                                            "Does not apply.",
                                            "Almost entirely perennial ryegrass and white clover.",
                                            "Cover of rye-grasses and white clover is less than 30% and cover of wildflowers is 10% or more.",
                                            "Cover of rye-grasses and white clover is less than 10% and cover of wildflowers is more than 30%."
                                        ], label: "Grassland Condition", label_class: "form-label my-3" %>
                                    <%= f.select :wider_countryside_description, [
                                            "Does not apply.",
                                            "An intermediate landscape, with a mix of traditional and modern farming practices and some patches of natural habitat.",
                                            "A landscape dedicated to food production, with large, agricultural fields and little natural habitat",
                                            "A diverse landscape, with small fields, traditional farming practices and frequent patches of natural habitat."
                                        ], label_class: "form-label my-3" %>
                                    <%= f.number_field :number_of_crop_types, label_class: "form-label my-3" %>
                                    <%= f.number_field :number_of_heritage_crops, label_class: "form-label my-3" %>
                                    <%= f.number_field :number_of_livestock_breeds, label_class: "form-label my-3" %>
                                    <%= f.number_field :number_of_rare_breeds, label_class: "form-label my-3" %>
                                    <%= f.collection_select :threatened_species, [['No', false], ['Yes', true]],
                                        :last, :first, {label: "Are there any IUCN Red List Threatened and endemic species known to occur on the farm?",
                                        label_class: "form-label my-3"} %>
                                    <%= f.text_area :threatened_species_description, label_class: "form-label my-3" %>
                                    <%= f.number_field :number_of_vascular_plant_species, label_class: "form-label my-3" %>
                                    <%= f.number_field :number_of_wild_bee_species, label_class: "form-label my-3" %>
                                    <%= f.number_field :number_of_farmland_bird_species, label_class: "form-label my-3" %>
                                    <%= f.number_field :number_of_butterfly_species, label_class: "form-label my-3" %>
                                    <%= f.number_field :number_of_mammal_species, label_class: "form-label my-3" %>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-5">
                            <%= link_to edit_farm_path(@farm) do %>
                                <i class="fas fa-times fa-2x farm-creation-arrow"></i>
                            <% end %>
                            <button type="submit" class="btn farm-creation-arrow-button">
                                <i class="fas fa-save fa-2x farm-creation-arrow"></i>
                            </button>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

