<%
wider_countryside_descriptions = [
    ["A landscape dedicated to food production, with large, agricultural fields and little natural habitat", 0],
    ["An intermediate landscape, with a mix of traditional and modern farming practices and some patches of natural habitat", 6],
    ["A diverse landscape, with small fields, traditional farming practices and frequent patches of natural habitat", 12]
]
%>
<% if @creation %>
<%= render 'shared/farm_creation/sidebar' %>
<% else %>
<%= render 'shared/farms/sidebar' %>
<% end %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farm_creation/navbar' %>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <ul class="nav d-flex flex-column mt-3 creation-step-nav align-items-center">
                    <li class="nav-item mt-3">
                        <%= link_to "Start",
                            farm_creation_path(:start, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Details",
                            farm_creation_path(:details, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Energy",
                            farm_creation_path(:energy, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Resources",
                            farm_creation_path(:resources, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Livestock",
                            farm_creation_path(:livestock, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Land Parcels",
                            farm_creation_path(:lands, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Hedgerows",
                            farm_creation_path(:hedgerows, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Biodiversity",
                            farm_creation_path(:biodiversity_surveys, farm_id: @farm.id),
                            class: "creation-link-active" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Sustainability",
                            farm_creation_path(:sustainability_surveys, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Targets",
                            farm_creation_path(:targets, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-5 mb-3">
                        <%= link_to "Skip",
                            farm_snapshot_path(
                                farm_id: @farm.id,
                                skip_creation: true),
                            class: "skip-creation-link" %>
                    </li>
                </ul>
            </div>
            <div class="col-10 pr-5 mb-5">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="farm-creation-form-header mt-3 mb-3 py-2 pl-4">
                            Biodiversity
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row no-gutters">
                <div class="col-1"></div>
                    <div class="col-10">
                        <%= bootstrap_form_with model: @biodiversity_survey,
                            url: farm_biodiversity_survey_path(creation: @creation),
                            method: :put do |f| %>
                            <div class="shadow farm-creation-form-card pt-4 pb-3 px-4 d-flex
                                flex-column justify-content-between">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-8">
                                            <%= f.number_field :area_designated_for_natural_conservation,
                                                step: :any, label: "Area Of Habitat Dedicated Solely To Conservation (ha)",
                                                value:"", label_class: "creation-form-label my-3" %>
                                            <%= f.number_field :area_in_existing_agri_environment_schemes, step: :any,
                                                label: "Area In Existing Agri-Environmental Schemes (ha)",
                                                value:"", label_class: "creation-form-label my-3" %>
                                            <%= f.number_field :area_of_grass_wildflower_scrub_not_for_production, step: :any,
                                                label: "Area of Grassland, Scrub, Or Wildflower Not Used For Production (ha)",
                                                value:"", label_class: "creation-form-label my-3" %>
                                            <%= f.collection_select :wider_countryside_description, wider_countryside_descriptions,
                                                :last, :first, {label_class: "creation-form-label my-3"} %>
                                            <%= f.number_field :number_of_crop_types, step: :any,
                                                label: "Number of Crop Types", value:"", label_class: "creation-form-label my-3" %>
                                            <%= f.number_field :number_of_heritage_crops, step: :any,
                                                label: "Number of Heritage Crops", value:"", label_class: "creation-form-label my-3" %>
                                            <%= f.number_field :number_of_livestock_breeds, step: :any,
                                                label: "Number of Livestock Breeds", value:"", label_class: "creation-form-label my-3" %>
                                            <%= f.number_field :number_of_rare_breeds, step: :any,
                                                label: "Number of Rare Breeds", value:"", label_class: "creation-form-label my-3" %>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-3">
                                    <%= link_to farm_creation_path(:hedgerows, **farm_and_estate_ids) do %>
                                        <i class="fas fa-arrow-left fa-2x farm-creation-arrow"></i>
                                    <% end %>
                                    <button type="submit" class="btn farm-creation-arrow-button">
                                        <i class="fas fa-arrow-right fa-2x farm-creation-arrow"></i>
                                    </button>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

