<%= javascript_pack_tag 'farm' %>
<div class="sidebar">
    <%= render 'shared/sidebar' %>
</div>

<div class="page-content">

    <%= render 'shared/navbar' %>

    <div class="container-fluid">

        <% wider_countryside_descriptions = [
            ["A landscape dedicated to food production, with large, agricultural fields and little natural habitat", 0],
            ["An intermediate landscape, with a mix of traditional and modern farming practices and some patches of natural habitat", 6],
            ["A diverse landscape, with small fields, traditional farming practices and frequent patches of natural habitat", 12]
        ] %>

        <div class="card shadow form-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold card-header-text">Crop Protection</h6>
            </div>
            <div class="card-body form-card-body">
                <%= bootstrap_form_with model: @biodiversity_survey, url: wizard_path, method: :put do |f| %>
                    <%= f.hidden_field :farm_id, value: @farm.id %>
                    <%= f.hidden_field :biodiversity_survey_id, value: @biodiversity_survey.id %>
                    <p>Please tick appropriate boxes if true.</p>
                    <div class="ml-1 my-5">
                        <%= f.check_box :crop_protection_use, label: "Do you use any crop protection methods, including those approved for organic farming?"%>
                    </div>
                    <%= f.submit "Next", class: "btn btn-default btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
