<%= javascript_pack_tag 'farm' %>
<div class="sidebar">
    <%= render 'shared/sidebar' %>
</div>

<div class="page-content">

    <%= render 'shared/navbar' %>

    <div class="container-fluid">

        <div class="card shadow form-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold card-header-text">Crop Protection</h6>
                <h6 class="m-0 font-weight-bold card-header-text">10</h6>
            </div>
            <div class="card-body form-card-body d-flex flex-column justify-content-between">
                <div>
                    <%= bootstrap_form_with model: @biodiversity_survey, url: wizard_path, method: :put do |f| %>
                        <%= f.hidden_field :farm_id, value: @farm.id %>
                        <%= f.hidden_field :biodiversity_survey_id, value: @biodiversity_survey.id %>
                        <p>Please tick appropriate boxes if true.</p>
                        <div class="ml-1 my-5">
                            <%= f.check_box :crop_protection_use, label: "Do you use any crop protection methods, including those approved for organic farming?"%>
                        </div>
                </div>
                <div>
                    <%= f.submit "Next", data: { turbolinks: false }, class: "btn btn-default btn-primary" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
