<%= render 'shared/farm_creation/sidebar' %>
<div class="page-content">
    <div class="container-fluid">
        <%= render 'shared/navbar' %>
        <div class="card shadow form-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold card-header-text">Farm Details</h6>
                <h6 class="m-0 font-weight-bold card-header-text">1 / 13</h6>
            </div>
            <div class="card-body form-card-body">
                <%= bootstrap_form_with model: @farm,
                    url: wizard_path(:details,  **farm_and_estate_ids),
                    method: :put,
                    class: "w-100 h-100" do |f| %>
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div>
                            <%= f.text_field :name %>
                            <%= f.text_field :location %>
                            <%= f.text_field :latitude %>
                            <%= f.text_field :longitude %>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <%= link_to "Back",
                                    wizard_path(:start, **farm_and_estate_ids),
                                    class: "btn btn-default btn-danger" %>
                            </div>
                            <div>
                                <%= f.submit "Next",
                                    class: "btn btn-default btn-primary" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>




