<%= javascript_pack_tag 'farm' %>
<div class="sidebar">
    <%= render 'shared/sidebar' %>
</div>

<div class="page-content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light farm-navbar">
        <ul class="navbar-nav ml-auto">
            <li class="navbar-text mr-2">
                Guest User
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-cog navbar-icon"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">

        <div class="card shadow form-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold card-header-text">Energy Use</h6>
            </div>
            <div class="card-body form-card-body">
                <%= bootstrap_form_with model: @farm, url: wizard_path, method: :put do |f| %>
                    <%= f.text_field :total_diesel_use, step: :any, label: "Diesel Use (l)" %>
                    <%= f.number_field :total_gas_use, step: :any, label: "Gas Use (kWh)" %>
                    <%= f.number_field :total_electricity_use, step: :any, label: "Electricity Use (kWh)" %>
                    <%= f.hidden_field :farm_id, value: @farm.id %>
                    <%= f.submit "Next", class: "btn btn-default btn-primary" %>
                <% end %>
            </div>
        </div>

    </div>
</div>




