<%= render 'shared/farm_creation/sidebar' %>
<div class="page-content">
    <div class="container-fluid d-flex flex-column h-100">
        <div class="row">
            <div class="col-12">
                <%= render 'shared/farm_creation/navbar' %>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <ul class="nav d-flex flex-column mt-3 creation-step-nav align-items-center">
                    <li class="nav-item mt-3">
                        <%= link_to "Start",
                            wizard_path(:start, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Details",
                            wizard_path(:details, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Energy",
                            wizard_path(:energy, farm_id: @farm.id),
                            class: "creation-link-active" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Resources",
                            wizard_path(:resources, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Livestock",
                            wizard_path(:livestock, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Land Parcels",
                            wizard_path(:lands, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Hedgerows",
                            wizard_path(:hedgerows, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Biodiversity",
                            wizard_path(:biodiversity_surveys, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Sustainability",
                            wizard_path(:sustainability_surveys, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-3">
                        <%= link_to "Targets",
                            wizard_path(:targets, farm_id: @farm.id),
                            class: "creation-link" %>
                    </li>
                    <li class="nav-item mt-5 mb-3">
                        <%= link_to "Skip",
                            farm_snapshot_path(
                                farm_id: @farm.id,
                                skip_creation: true),
                            class: "skip-creation-link" %>
                    </li>
                </ul>
            </div>
            <div class="col-9 pr-5">
                <div class="row no-gutters mt-3">
                    <div class="col-10">
                        <%= bootstrap_form_with model: @farm,
                            url: wizard_path(:energy,  **farm_and_estate_ids),
                            method: :put do |f| %>
                            <div class="shadow farm-creation-form-card pt-4 pb-3 px-4 d-flex
                                flex-column justify-content-between">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-8 mt-3">
                                            <% if @farm.total_diesel_use != 0.0 %>
                                            <%= f.number_field :total_diesel_use, step: :any,
                                                label: "Diesel use (l)", label_class: "form-label my-3" %>
                                            <% else %>
                                            <%= f.number_field :total_diesel_use, step: :any,
                                                label: "Diesel use (l)", value:"", label_class: "form-label my-3" %>
                                            <% end %>
                                            <% if @farm.total_gas_use != 0.0 %>
                                            <%= f.number_field :total_gas_use, step: :any,
                                                label: "Gas use (kWh)", label_class: "form-label my-3" %>
                                            <% else %>
                                            <%= f.number_field :total_gas_use, step: :any,
                                                label: "Gas use (kWh)", value:"", label_class: "form-label my-3" %>
                                            <% end %>
                                            <% if @farm.total_gas_use != 0.0 %>
                                            <%= f.number_field :total_electricity_use, step: :any,
                                                label: "Electricity use (kWh)", label_class: "form-label my-3" %>
                                            <% else %>
                                            <%= f.number_field :total_electricity_use, step: :any,
                                                label: "Electricity use (kWh)", value:"", label_class: "form-label my-3" %>
                                            <% end %>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-5">
                                    <%= link_to wizard_path(:details, **farm_and_estate_ids) do %>
                                        <i class="fas fa-arrow-left fa-2x farm-creation-arrow"></i>
                                    <% end %>
                                    <button type="submit" class="btn farm-creation-arrow-button">
                                        <i class="fas fa-arrow-right fa-2x farm-creation-arrow"></i>
                                    </button>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

