<%= javascript_pack_tag 'farm' %>
<div class="sidebar">
    <%= render 'shared/sidebar' %>
</div>

<div class="page-content">

    <%= render 'shared/navbar' %>

    <div class="container-fluid">

        <% wider_countryside_descriptions = [
            ["A landscape dedicated to food production, with large, agricultural fields and little natural habitat", 0],
            ["An intermediate landscape, with a mix of traditional and modern farming practices and some patches of natural habitat", 6],
            ["A diverse landscape, with small fields, traditional farming practices and frequent patches of natural habitat", 12]
        ] %>

        <div class="card shadow form-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold card-header-text">Hedgerow-Based Wildlife Practices</h6>
                <h6 class="m-0 font-weight-bold card-header-text">14</h6>
            </div>
            <div class="card-body form-card-body d-flex flex-column justify-content-between">
                <div>
                <%= bootstrap_form_with model: @biodiversity_survey, url: wizard_path, method: :put do |f| %>
                    <%= f.hidden_field :farm_id, value: @farm.id %>
                    <%= f.hidden_field :biodiversity_survey_id, value: @biodiversity_survey.id %>
                    <p>Please tick appropriate boxes if true.</p>
                    <div class="ml-1 my-5">
                        <%= f.check_box :hedgerows_pruned_three_years, label: "Are your hedgerows pruned no more than once every 3 years (or every 2 years during dormancy), with gaps filled by re-planting or laying?" %>
                        <%= f.check_box :hedgerow_grass_margin, label: "Do your hedgerows have grass margins at least 2m wide?" %>
                        <%= f.check_box :no_hedgerows, label: "Do you not have any hedgerows?" %>
                    </div>
                </div>
                <div>
                    <%= f.submit "Next", data: { turbolinks: false }, class: "btn btn-default btn-primary" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
