<%= javascript_pack_tag 'farm', 'data-turbolinks-track': 'reload' %>

<div class="sidebar">
    <%= render 'shared/sidebar' %>
</div>

<div class="page-content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light farm-navbar">
        <ul class="navbar-nav ml-auto">
            <li class="navbar-text mr-2">
                Guest User
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-cog navbar-icon"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">

        <div class="card shadow form-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold card-header-text">Land Information</h6>
            </div>
            <div class="card-body form-card-body">
                <div class="row mb-4">
                    <div class="col-3">
                        <b>Category</b>
                    </div>
                    <div class="col-3">
                        Area
                    </div>
                    <div class="col-3">
                        Sprayed?
                    </div>
                    <div class="col-3">
                        Tillage
                    </div>
                    <div class="col-3">
                        Rotation
                    </div>
                </div>
                    <%= bootstrap_form_with model: @farm, url: wizard_path, method: :put do |f| %>
                        <%= f.hidden_field :farm_id, value: @farm.id %>
                        <%= f.fields_for :lands do |lands_form| %>
                            <%= render "land_fields", f: lands_form %>
                        <% end %>
                        <%= add_land f %>
                        <%= f.submit "Next", class: "btn btn-default btn-primary" %>
                    <% end %>
            </div>
        </div>

    </div>
</div>

