<%= javascript_pack_tag 'farm' %>
<div class="sidebar">
    <%= render 'shared/sidebar' %>
</div>

<div class="page-content">

    <%= render 'shared/navbar' %>

    <div class="container-fluid">

        <% wider_countryside_descriptions = [
            ["A landscape dedicated to food production, with large, agricultural fields and little natural habitat", 0],
            ["An intermediate landscape, with a mix of traditional and modern farming practices and some patches of natural habitat", 6],
            ["A diverse landscape, with small fields, traditional farming practices and frequent patches of natural habitat", 12]
        ] %>

        <div class="card shadow form-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold card-header-text">Pools and Ponds Management</h6>
            </div>
            <div class="card-body form-card-body">
                <%= bootstrap_form_with model: @biodiversity_survey, url: wizard_path, method: :put do |f| %>
                    <%= f.hidden_field :farm_id, value: @farm.id %>
                    <%= f.hidden_field :biodiversity_survey_id, value: @biodiversity_survey.id %>
                    <p>Please tick appropriate boxes if true.</p>
                    <div class="ml-1 my-5">
                        <%= f.check_box :pools_and_ponds, label: "Do you have any pools or ponds?" %>
                        <%= f.check_box :pond_ditches_buffered, label: "Are you in-field ponds and ditches buffered?" %>
                        <%= f.check_box :pond_bank_vegetation_mowed_two_years, label: "Is your pool/pond bank vegetation mowed every 1-2 years?" %>
                        <%= f.check_box :pond_bank_vegetation_left_standing, label: "Do you leave parts of your pool/pond bank vegetation standing during mowing?" %>
                        <%= f.check_box :pond_plants_cleared_three_years, label: "Do you clear plants from your pool/pond water once every 1-3 years?" %>
                        <%= f.check_box :pond_cuttings_removed_promptly, label: "Do you promptly remove bank cuttings and clear aquatic plants?" %>
                        <%= f.check_box :pond_dredged_five_years, label: "Do you dredge your pools/ponds once or twice every 5 years, with dredged material then removed?" %>
                        <%= f.check_box :pond_shading_prevented, label: "Do you pollard the trees on the banksides of your pools/ponds, preventing shading?" %>
                        <%= f.check_box :no_pools_and_ponds, label: "Do you have no pools or ponds?" %>
                    </div>
                    <%= f.submit "Next", class: "btn btn-default btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>


