<%= javascript_pack_tag 'farm' %>
<div class="sidebar">
    <%= render 'shared/sidebar' %>
</div>

<div class="page-content">

    <%= render 'shared/navbar' %>

    <div class="container-fluid">

        <div class="card shadow form-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold card-header-text">Resource Consumption</h6>
            </div>
            <div class="card-body form-card-body">
                <%= bootstrap_form_with model: @farm, url: wizard_path, method: :put do |f| %>
                    <%= f.number_field :artificial_fertiliser_use, step: :any, label: "Artificial Fertiliser Use (kg)" %>
                    <%= f.number_field :agriculture_products_spend, step: :any, label: "Agriculture Products Spend (£)" %>
                    <%= f.number_field :wood_and_wood_products_spend, step: :any, label: "Wood and Wood Products Spend (£)" %>
                    <%= f.number_field :pesticides_spend, step: :any, label: "Pesticides Spend (£)" %>
                    <%= f.number_field :machinery_and_equipment_spend, step: :any, label: "Machinery and Equipment Spend (£)" %>
                    <%= f.number_field :other_spend, step: :any, label: "Other Spend (£)" %>
                    <%= f.hidden_field :farm_id, value: @farm.id %>
                    <%= f.submit "Next", class: "btn btn-default btn-primary" %>
                <% end %>
            </div>
        </div>

    </div>
</div>




