<%= javascript_pack_tag 'farm' %>
<div class="sidebar">
    <%= render 'shared/sidebar' %>
</div>

<div class="page-content">

    <%= render 'shared/navbar' %>

    <div class="container-fluid">

        <div class="card shadow form-card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold card-header-text">Rivers and Streams Management</h6>
                <h6 class="m-0 font-weight-bold card-header-text">15</h6>
            </div>
            <div class="card-body form-card-body d-flex flex-column justify-content-between">
                <div>
                <%= bootstrap_form_with model: @biodiversity_survey, url: wizard_path, method: :put do |f| %>
                    <%= f.hidden_field :farm_id, value: @farm.id %>
                    <%= f.hidden_field :biodiversity_survey_id, value: @biodiversity_survey.id %>
                    <p>Please tick appropriate boxes if true.</p>
                    <div class="ml-1 my-5">
                        <%= f.check_box :water_courses, label: "Do you have any water courses, including rivers, streams, and ditches?" %>
                        <%= f.check_box :river_bank_vegetation_mowed_two_years, label: "Is your bank vegetation mown after 1 June, at least once every two years but no more than twice a year?" %>
                        <%= f.check_box :river_bank_vegetation_left_standing, label: "Do you mow in phases or leave sections of bank vegetation standing?" %>
                        <%= f.check_box :water_course_buffered_twelve_metres, label: "Do you buffer your water courses by at least 12m when they are next to an open field?" %>
                        <%= f.check_box :water_course_cleared_regularly, label: "If your water courses are open field drains, are they regularly cleared (every 1-3 years)?" %>
                        <%= f.check_box :dredge_cuttings_removed_promptly, label: "Are your dredged material and bank cuttings removed promptly?" %>
                        <%= f.check_box :no_water_courses, label: "Do you have no water courses?" %>
                    </div>
                </div>
                <div>
                    <%= f.submit "Next", data: { turbolinks: false }, class: "btn btn-default btn-primary" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

